In [1]:
# импортируем библиотеки pandas и numpy
import pandas as pd
import numpy as np

In [2]:
# записываем CSV-файл в объект DataFrame
data = pd.read_csv('Data/Extra_characters.csv', sep=';')
data.head()

    gender   marital
0  Женский     Женат
1  Мужской  Одинокий
2  Женский  Одинокий
3  Мужской  Одинокий
4  Женский  Одинокий

In [3]:
# создаем список переменных
cols = data.columns

# с помощью метода .unique() выводим уникальные 
# значения переменных gender и marital
for col in cols:
    print(data[col].unique())

['Женский' 'Мужской' 'Женский&*' 'Мужской&*']
['Женат' 'Одинокий' '_Одинокий' '_Женат' 'Же&нат']

In [4]:
# с помощью метода .str.replace() удаляем лишние символы
for col in cols: 
    data[col] = data[col].str.replace('[*&_]', '')

# выводим уникальные значения переменных 
# gender и marital
for col in cols:
    print(data[col].unique())

['Женский' 'Мужской']
['Женат' 'Одинокий']

/var/folders/x9/w1kvj6ms0p52l8j6crt19vmh0000gn/T/ipykernel_19957/664867260.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  data[col] = data[col].str.replace('[*&_]', '')

In [5]:
# импортируем библиотеку для транслитерации
from transliterate import translit

In [6]:
# выполняем транслитерацию
for col in cols:
    data[col] = data[col].apply(
        lambda x: translit(x, 'ru', reversed=True))

# выводим уникальные значения переменных 
# gender и marital
for col in cols:
    print(data[col].unique())

['Zhenskij' 'Muzhskoj']
['Zhenat' 'Odinokij']

In [7]:
# переводим строки (значения переменной gender) 
# в нижний регистр 
data['gender'] = data['gender'].str.lower()
# переводим строки (значения переменной marital) 
# в ВЕРХНИЙ регистр 
data['marital'] = data['marital'].str.upper()
data.head()

     gender   marital
0  zhenskij    ZHENAT
1  muzhskoj  ODINOKIJ
2  zhenskij  ODINOKIJ
3  muzhskoj  ODINOKIJ
4  zhenskij  ODINOKIJ

In [8]:
# загружаем CSV файл с ФИО клиентов, 
# по которым нужно определить пол
data = pd.read_csv('Data/Gender_based_on_middle_name.csv', 
                   encoding='cp1251', sep=';')
data.head(20)

,Клиент,Возраст,Регион,Статус
0,_Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а)
1,_Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а)
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а)
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а)
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а)
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а)
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а)
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а)
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а)
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а)
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а)
11,Абдурасулова Наталья Таджиловна,55&,Екатеринбург- 8,Вернул(а)
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а)
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а)
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а)
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а)
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а)
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а)
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а)
19,Абрамов Никита Валерьевич,45лет,Екатеринбург- 8,Вернул(а)

In [9]:
# создаем переменную Пол, которая будет иметь значение True, 
# если строковое значение переменной Клиент содержит паттерн 
# "вна" (Викторовна, Дмитриевна), и False в противном случае
data['Пол'] = data['Клиент'].str.contains('вна')  
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол
0,_Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а),False
1,_Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а),False
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а),False
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а),True
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а),True
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а),True
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а),True
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а),False
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а),False
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),True
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),True
11,Абдурасулова Наталья Таджиловна,55&,Екатеринбург- 8,Вернул(а),True
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а),True
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а),True
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а),True
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а),True
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а),False
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а),True
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а),False
19,Абрамов Никита Валерьевич,45лет,Екатеринбург- 8,Вернул(а),False

In [10]:
# переименуем категории переменной Пол
d = {False: 'Мужской', True: 'Женский'}
data['Пол'] = data['Пол'].map(d)
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол
0,_Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а),Мужской
1,_Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а),Мужской
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а),Мужской
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а),Женский
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а),Женский
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а),Женский
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а),Женский
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а),Мужской
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а),Мужской
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский
11,Абдурасулова Наталья Таджиловна,55&,Екатеринбург- 8,Вернул(а),Женский
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а),Женский
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а),Женский
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а),Женский
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а),Женский
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а),Мужской
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а),Женский
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а),Мужской
19,Абрамов Никита Валерьевич,45лет,Екатеринбург- 8,Вернул(а),Мужской

In [11]:
# извлекаем последние три символа в каждом строковом 
# значении переменной Клиент и затем на основе 
# полученных значений создаем новую переменную
data['Пол2'] = data['Клиент'].str[-3:]
# переименуем категории переменной Пол2
d = {'вич': 'Мужской', 'вна': 'Женский'}
data['Пол2'] = data['Пол2'].map(d)
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол,Пол2
0,_Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а),Мужской,Мужской
1,_Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а),Мужской,Мужской
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а),Мужской,Мужской
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а),Женский,Женский
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а),Женский,Женский
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а),Женский,Женский
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а),Женский,Женский
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а),Мужской,Мужской
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а),Мужской,Мужской
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский
11,Абдурасулова Наталья Таджиловна,55&,Екатеринбург- 8,Вернул(а),Женский,Женский
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а),Женский,Женский
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а),Женский,Женский
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а),Женский,Женский
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а),Женский,Женский
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а),Мужской,Мужской
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а),Женский,Женский
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а),Мужской,Мужской
19,Абрамов Никита Валерьевич,45лет,Екатеринбург- 8,Вернул(а),Мужской,Мужской

In [12]:
# с помощью метода .str.lstrip() удалим ненужный символ 
# подчеркивания, с которого начинаются несколько значений 
# переменной Клиент, метод .str.lstrip() возвращает 
# копию указанной строки, с начала (слева l — left) 
# которой устранены указанные символы
data['Клиент'] = data['Клиент'].str.lstrip('_')
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол,Пол2
0,Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а),Мужской,Мужской
1,Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а),Мужской,Мужской
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а),Мужской,Мужской
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а),Женский,Женский
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а),Женский,Женский
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а),Женский,Женский
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а),Женский,Женский
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а),Мужской,Мужской
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а),Мужской,Мужской
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский
11,Абдурасулова Наталья Таджиловна,55&,Екатеринбург- 8,Вернул(а),Женский,Женский
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а),Женский,Женский
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а),Женский,Женский
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а),Женский,Женский
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а),Женский,Женский
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а),Мужской,Мужской
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а),Женский,Женский
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а),Мужской,Мужской
19,Абрамов Никита Валерьевич,45лет,Екатеринбург- 8,Вернул(а),Мужской,Мужской

In [13]:
# с помощью метода .str.rstrip() удалим ненужные символы, которыми 
# заканчиваются некоторые значения переменной Возраст, метод 
# .str.rstrip() возвращает копию указанной строки, с конца 
# (справа r — right) которой устранены указанные символы
data['Возраст'] = data['Возраст'].str.rstrip('&лет')
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол,Пол2
0,Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а),Мужской,Мужской
1,Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а),Мужской,Мужской
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а),Мужской,Мужской
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а),Женский,Женский
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а),Женский,Женский
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а),Женский,Женский
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а),Женский,Женский
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а),Мужской,Мужской
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а),Мужской,Мужской
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский
11,Абдурасулова Наталья Таджиловна,55,Екатеринбург- 8,Вернул(а),Женский,Женский
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а),Женский,Женский
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а),Женский,Женский
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а),Женский,Женский
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а),Женский,Женский
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а),Мужской,Мужской
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а),Женский,Женский
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а),Мужской,Мужской
19,Абрамов Никита Валерьевич,45,Екатеринбург- 8,Вернул(а),Мужской,Мужской

In [14]:
# создадим переменную Регион2, извлекая
# цифры из переменной Регион
data['Регион2'] = data['Регион'].str.extract('(\d)', expand=True)
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол,Пол2,Регион2
0,Колесников Вячеслав Анатольевич,33,Красноярск- 2,Вернул(а),Мужской,Мужской,2
1,Саймурзанов Михаил Борисович,22,Красноярск- 2,Вернул(а),Мужской,Мужской,2
2,Абаимов Максим Дмитриевич,43,Москва- 4,Вернул(а),Мужской,Мужской,4
3,Абакумова Юлия Ивановна,22,Москва- 4,Вернул(а),Женский,Женский,4
4,Абанова Елена Владимировна,54,Санкт-Петербург- 6,Вернул(а),Женский,Женский,6
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург- 6,Вернул(а),Женский,Женский,6
6,Абдугалиева Айгуль Максутовна,27,Москва- 4,Не вернул(а),Женский,Женский,4
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург- 8,Не вернул(а),Мужской,Мужской,8
8,Абдуллин Евгений Эдуардович,22,Екатеринбург- 8,Не вернул(а),Мужской,Мужской,8
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский,8
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург- 8,Вернул(а),Женский,Женский,8
11,Абдурасулова Наталья Таджиловна,55,Екатеринбург- 8,Вернул(а),Женский,Женский,8
12,Абдурахимова Алена Алимовна,57,Екатеринбург- 8,Вернул(а),Женский,Женский,8
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург- 8,Вернул(а),Женский,Женский,8
14,Аблец Юлия Сергеевна,33,Екатеринбург- 8,Вернул(а),Женский,Женский,8
15,Аболмасова Ирина Олеговна,38,Екатеринбург- 8,Вернул(а),Женский,Женский,8
16,Абраев Нурлан Мусайбекович,49,Екатеринбург- 8,Вернул(а),Мужской,Мужской,8
17,Абраменко Екатерина Владимировна,56,Москва- 4,Вернул(а),Женский,Женский,4
18,Абрамов Дмитрий Владимирович,51,Москва- 4,Вернул(а),Мужской,Мужской,4
19,Абрамов Никита Валерьевич,45,Екатеринбург- 8,Вернул(а),Мужской,Мужской,8

In [15]:
# удаляем последние 3 символа в каждом строковом 
# значении переменной Регион
data['Регион'] = data['Регион'].map(lambda x: str(x)[:-3])
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол,Пол2,Регион2
0,Колесников Вячеслав Анатольевич,33,Красноярск,Вернул(а),Мужской,Мужской,2
1,Саймурзанов Михаил Борисович,22,Красноярск,Вернул(а),Мужской,Мужской,2
2,Абаимов Максим Дмитриевич,43,Москва,Вернул(а),Мужской,Мужской,4
3,Абакумова Юлия Ивановна,22,Москва,Вернул(а),Женский,Женский,4
4,Абанова Елена Владимировна,54,Санкт-Петербург,Вернул(а),Женский,Женский,6
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург,Вернул(а),Женский,Женский,6
6,Абдугалиева Айгуль Максутовна,27,Москва,Не вернул(а),Женский,Женский,4
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург,Не вернул(а),Мужской,Мужской,8
8,Абдуллин Евгений Эдуардович,22,Екатеринбург,Не вернул(а),Мужской,Мужской,8
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург,Вернул(а),Женский,Женский,8
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург,Вернул(а),Женский,Женский,8
11,Абдурасулова Наталья Таджиловна,55,Екатеринбург,Вернул(а),Женский,Женский,8
12,Абдурахимова Алена Алимовна,57,Екатеринбург,Вернул(а),Женский,Женский,8
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург,Вернул(а),Женский,Женский,8
14,Аблец Юлия Сергеевна,33,Екатеринбург,Вернул(а),Женский,Женский,8
15,Аболмасова Ирина Олеговна,38,Екатеринбург,Вернул(а),Женский,Женский,8
16,Абраев Нурлан Мусайбекович,49,Екатеринбург,Вернул(а),Мужской,Мужской,8
17,Абраменко Екатерина Владимировна,56,Москва,Вернул(а),Женский,Женский,4
18,Абрамов Дмитрий Владимирович,51,Москва,Вернул(а),Мужской,Мужской,4
19,Абрамов Никита Валерьевич,45,Екатеринбург,Вернул(а),Мужской,Мужской,8

In [16]:
# удаляем круглые скобки в переменной Статус
data['Статус'] = data['Статус'].str.replace('[()]', '')
data.head(20)

/var/folders/x9/w1kvj6ms0p52l8j6crt19vmh0000gn/T/ipykernel_19957/1827097817.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  data['Статус'] = data['Статус'].str.replace('[()]', '')

,Клиент,Возраст,Регион,Статус,Пол,Пол2,Регион2
0,Колесников Вячеслав Анатольевич,33,Красноярск,Вернула,Мужской,Мужской,2
1,Саймурзанов Михаил Борисович,22,Красноярск,Вернула,Мужской,Мужской,2
2,Абаимов Максим Дмитриевич,43,Москва,Вернула,Мужской,Мужской,4
3,Абакумова Юлия Ивановна,22,Москва,Вернула,Женский,Женский,4
4,Абанова Елена Владимировна,54,Санкт-Петербург,Вернула,Женский,Женский,6
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург,Вернула,Женский,Женский,6
6,Абдугалиева Айгуль Максутовна,27,Москва,Не вернула,Женский,Женский,4
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург,Не вернула,Мужской,Мужской,8
8,Абдуллин Евгений Эдуардович,22,Екатеринбург,Не вернула,Мужской,Мужской,8
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург,Вернула,Женский,Женский,8
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург,Вернула,Женский,Женский,8
11,Абдурасулова Наталья Таджиловна,55,Екатеринбург,Вернула,Женский,Женский,8
12,Абдурахимова Алена Алимовна,57,Екатеринбург,Вернула,Женский,Женский,8
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург,Вернула,Женский,Женский,8
14,Аблец Юлия Сергеевна,33,Екатеринбург,Вернула,Женский,Женский,8
15,Аболмасова Ирина Олеговна,38,Екатеринбург,Вернула,Женский,Женский,8
16,Абраев Нурлан Мусайбекович,49,Екатеринбург,Вернула,Мужской,Мужской,8
17,Абраменко Екатерина Владимировна,56,Москва,Вернула,Женский,Женский,4
18,Абрамов Дмитрий Владимирович,51,Москва,Вернула,Мужской,Мужской,4
19,Абрамов Никита Валерьевич,45,Екатеринбург,Вернула,Мужской,Мужской,8

In [17]:
# выполняем итоговую нормализацию строковых 
# значений переменной Статус
data['Статус'] = np.where(data['Клиент'].str.contains('вна'), 
                          data['Статус'], 
                          data['Статус'].map(lambda x: str(x)[:-1]))
data.head(20)

,Клиент,Возраст,Регион,Статус,Пол,Пол2,Регион2
0,Колесников Вячеслав Анатольевич,33,Красноярск,Вернул,Мужской,Мужской,2
1,Саймурзанов Михаил Борисович,22,Красноярск,Вернул,Мужской,Мужской,2
2,Абаимов Максим Дмитриевич,43,Москва,Вернул,Мужской,Мужской,4
3,Абакумова Юлия Ивановна,22,Москва,Вернула,Женский,Женский,4
4,Абанова Елена Владимировна,54,Санкт-Петербург,Вернула,Женский,Женский,6
5,Абдрахимова Юлия Рафиковна,23,Санкт-Петербург,Вернула,Женский,Женский,6
6,Абдугалиева Айгуль Максутовна,27,Москва,Не вернула,Женский,Женский,4
7,Абдуллаев Ильгар Эльдарович,44,Екатеринбург,Не вернул,Мужской,Мужской,8
8,Абдуллин Евгений Эдуардович,22,Екатеринбург,Не вернул,Мужской,Мужской,8
9,Абдуллина Екатерина Анатольевна,63,Екатеринбург,Вернула,Женский,Женский,8
10,Абдуллина Екатерина Анатольевна,63,Екатеринбург,Вернула,Женский,Женский,8
11,Абдурасулова Наталья Таджиловна,55,Екатеринбург,Вернула,Женский,Женский,8
12,Абдурахимова Алена Алимовна,57,Екатеринбург,Вернула,Женский,Женский,8
13,Абельдина Гульпархия Галимжановна,41,Екатеринбург,Вернула,Женский,Женский,8
14,Аблец Юлия Сергеевна,33,Екатеринбург,Вернула,Женский,Женский,8
15,Аболмасова Ирина Олеговна,38,Екатеринбург,Вернула,Женский,Женский,8
16,Абраев Нурлан Мусайбекович,49,Екатеринбург,Вернул,Мужской,Мужской,8
17,Абраменко Екатерина Владимировна,56,Москва,Вернула,Женский,Женский,4
18,Абрамов Дмитрий Владимирович,51,Москва,Вернул,Мужской,Мужской,4
19,Абрамов Никита Валерьевич,45,Екатеринбург,Вернул,Мужской,Мужской,8

In [18]:
# загружаем данные
data = pd.read_csv('Data/Raw_text.csv', encoding='cp1251')
data

                        raw
0   KDR 1 2014-12-23 3242.0
1   MSK 1 2010-02-23 3453.7
2  KRSK 0 2014-06-20 2123.0
3   SPB 0 2014-03-14 1123.6
4   EKB 1 2013-01-15 2134.0

In [19]:
# с помощью метода .str.extract() извлекаем 
# даты из столбца raw, создав переменную date
data['date'] = data['raw'].str.extract(
    '(....-..-..)', expand=True)
data

                        raw        date
0   KDR 1 2014-12-23 3242.0  2014-12-23
1   MSK 1 2010-02-23 3453.7  2010-02-23
2  KRSK 0 2014-06-20 2123.0  2014-06-20
3   SPB 0 2014-03-14 1123.6  2014-03-14
4   EKB 1 2013-01-15 2134.0  2013-01-15

In [20]:
# извлекаем одиночные цифры из столбца raw, 
# создав переменную gender
data['gender'] = data['raw'].str.extract(
    '(\d)', expand=True)
data

                        raw        date gender
0   KDR 1 2014-12-23 3242.0  2014-12-23      1
1   MSK 1 2010-02-23 3453.7  2010-02-23      1
2  KRSK 0 2014-06-20 2123.0  2014-06-20      0
3   SPB 0 2014-03-14 1123.6  2014-03-14      0
4   EKB 1 2013-01-15 2134.0  2013-01-15      1

In [21]:
# извлекаем числа с плавающей точкой из столбца raw, 
# создав переменную score
data['score'] = data['raw'].str.extract(
    '(\d\d\d\d\.\d)', expand=True)
data

                        raw        date gender   score
0   KDR 1 2014-12-23 3242.0  2014-12-23      1  3242.0
1   MSK 1 2010-02-23 3453.7  2010-02-23      1  3453.7
2  KRSK 0 2014-06-20 2123.0  2014-06-20      0  2123.0
3   SPB 0 2014-03-14 1123.6  2014-03-14      0  1123.6
4   EKB 1 2013-01-15 2134.0  2013-01-15      1  2134.0

In [22]:
# извлекаем текст из столбца raw, создав переменную city
data['city'] = data['raw'].str.extract(
    '(\w+)', expand=True)
data

                        raw        date gender   score  city
0   KDR 1 2014-12-23 3242.0  2014-12-23      1  3242.0   KDR
1   MSK 1 2010-02-23 3453.7  2010-02-23      1  3453.7   MSK
2  KRSK 0 2014-06-20 2123.0  2014-06-20      0  2123.0  KRSK
3   SPB 0 2014-03-14 1123.6  2014-03-14      0  1123.6   SPB
4   EKB 1 2013-01-15 2134.0  2013-01-15      1  2134.0   EKB

In [23]:
# импортируем функцию distance() 
# библиотеки python-Levenshtein 
from Levenshtein import distance
# вычисляем расстояние для двух строк
string1 = 'Smith'
string2 = 'Smythe'
distance(string1, string2)

2

In [24]:
# загружаем данные
df = pd.read_csv('Data/Levenshtein.csv', sep=';')
df

,line1,line2
0,"9128 LEEWARD CIR, INDIANAPOLIS, IN","9128 Leeward Circle, Indianapolis, IN"
1,"101 OCEAN LANE DRIVE, KEY BISCAYNE, FL","101 Ocean Lane Drive Unit 1010, Key Biscayne, FL"
2,"9301 EVERGREEN DRIVE, PARMA, OH","9301 Evergreen Dr, Parma, OH"
3,"1817 BERTRAND DR, LAFAYETTE, LA","2924 Polo Ridge Ct, Charlotte, NC"
4,"201 E 87TH ST, NEW YORK, NY","201 E 87th Street 3E, New York, NY"
5,"799 CARRIGAN AVE, OVIEDO, FL","799 Carrigan Avenue, Oviedo, FL"
6,"4014 CADDIE DRIVE, ACWORTH, GA","10617 WEYBRIDGE DR, TAMPA, FL"

In [25]:
# вычисляем расстояние Левенштейна
df['distance'] = df.apply(
    lambda x: distance(x['line1'], x['line2']), axis=1)
df

,line1,line2,distance
0,"9128 LEEWARD CIR, INDIANAPOLIS, IN","9128 Leeward Circle, Indianapolis, IN",22
1,"101 OCEAN LANE DRIVE, KEY BISCAYNE, FL","101 Ocean Lane Drive Unit 1010, Key Biscayne, FL",30
2,"9301 EVERGREEN DRIVE, PARMA, OH","9301 Evergreen Dr, Parma, OH",16
3,"1817 BERTRAND DR, LAFAYETTE, LA","2924 Polo Ridge Ct, Charlotte, NC",26
4,"201 E 87TH ST, NEW YORK, NY","201 E 87th Street 3E, New York, NY",15
5,"799 CARRIGAN AVE, OVIEDO, FL","799 Carrigan Avenue, Oviedo, FL",17
6,"4014 CADDIE DRIVE, ACWORTH, GA","10617 WEYBRIDGE DR, TAMPA, FL",22

In [26]:
# приводим строки к ВЕРХНЕМУ регистру
df['line1'] = df['line1'].str.upper()
df['line2'] = df['line2'].str.upper()
# снова вычисляем расстояние Левенштейна
df['distance_corr'] = df.apply(
    lambda x: distance(x['line1'], x['line2']), axis=1)
df

,line1,line2,distance,distance_corr
0,"9128 LEEWARD CIR, INDIANAPOLIS, IN","9128 LEEWARD CIRCLE, INDIANAPOLIS, IN",22,3
1,"101 OCEAN LANE DRIVE, KEY BISCAYNE, FL","101 OCEAN LANE DRIVE UNIT 1010, KEY BISCAYNE, FL",30,10
2,"9301 EVERGREEN DRIVE, PARMA, OH","9301 EVERGREEN DR, PARMA, OH",16,3
3,"1817 BERTRAND DR, LAFAYETTE, LA","2924 POLO RIDGE CT, CHARLOTTE, NC",26,23
4,"201 E 87TH ST, NEW YORK, NY","201 E 87TH STREET 3E, NEW YORK, NY",15,7
5,"799 CARRIGAN AVE, OVIEDO, FL","799 CARRIGAN AVENUE, OVIEDO, FL",17,3
6,"4014 CADDIE DRIVE, ACWORTH, GA","10617 WEYBRIDGE DR, TAMPA, FL",22,22