# Почему Polars?
# Библиотека Polars построена на Arrow
# Polars работает с табличными данными
# Объекты DataFrame и Series

In [1]:
# импортируем polars и pandas
import polars as pl
import pandas as pd

from IPython.display import display

In [2]:
# создаем датафрейм
df = pl.DataFrame({'Empl': [10, 20], 
                   'Age': [30, 40]})
df

shape: (2, 2)
┌──────┬─────┐
│ Empl ┆ Age │
│ ---  ┆ --- │
│ i64  ┆ i64 │
╞══════╪═════╡
│ 10   ┆ 30  │
├╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 20   ┆ 40  │
└──────┴─────┘

In [3]:
# вычисляем среднее по строкам
df.mean(axis=0)

shape: (1, 2)
┌──────┬──────┐
│ Empl ┆ Age  │
│ ---  ┆ ---  │
│ f64  ┆ f64  │
╞══════╪══════╡
│ 15.0 ┆ 35.0 │
└──────┴──────┘

In [4]:
# вычисляем среднее по столбцам
df.mean(axis=1)

shape: (2,)
Series: 'Empl' [f64]
[
	20.0
	30.0
]

In [5]:
%%time

# считываем файл в датафрейм pandas
pandas_df = pd.read_csv('Data/train_data.csv')

CPU times: user 1min 58s, sys: 33.5 s, total: 2min 32s
Wall time: 2min 46s

In [6]:
%%time

# считываем файл в датафрейм polars
polars_df = pl.read_csv('Data/train_data.csv')

CPU times: user 1min 22s, sys: 1min 13s, total: 2min 35s
Wall time: 25.2 s

In [7]:
%%time

# считываем файл в датафрейм polars,
# потом в датафрейм pandas
pandas_df = pl.read_csv('Data/train_data.csv', rechunk=False).to_pandas()

CPU times: user 1min 29s, sys: 2min 15s, total: 3min 45s
Wall time: 45.7 s

In [8]:
# смотрим первые 5 наблюдений
polars_df.head()

shape: (5, 190)
┌────────────────┬────────────┬──────────┬──────────┬─────┬───────┬──────────┬──────────┬──────────┐
│ customer_ID    ┆ S_2        ┆ P_2      ┆ D_39     ┆ ... ┆ D_142 ┆ D_143    ┆ D_144    ┆ D_145    │
│ ---            ┆ ---        ┆ ---      ┆ ---      ┆     ┆ ---   ┆ ---      ┆ ---      ┆ ---      │
│ str            ┆ str        ┆ f64      ┆ f64      ┆     ┆ str   ┆ f64      ┆ f64      ┆ f64      │
╞════════════════╪════════════╪══════════╪══════════╪═════╪═══════╪══════════╪══════════╪══════════╡
│ 0000099d6bd597 ┆ 2017-03-09 ┆ 0.938469 ┆ 0.001733 ┆ ... ┆ null  ┆ 0.000569 ┆ 0.00061  ┆ 0.002674 │
│ 052cdcda90ffab ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
│ f565...        ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 0000099d6bd597 ┆ 2017-04-07 ┆ 0.936665 ┆ 0.005775 ┆ ... ┆ null  ┆ 0.009576 ┆ 0.005492 ┆ 0.009217 │
│ 052cdcda90ffab ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
│ f565...        ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 0000099d6bd597 ┆ 2017-05-28 ┆ 0.95418  ┆ 0.091505 ┆ ... ┆ null  ┆ 0.003429 ┆ 0.006986 ┆ 0.002603 │
│ 052cdcda90ffab ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
│ f565...        ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 0000099d6bd597 ┆ 2017-06-13 ┆ 0.960384 ┆ 0.002455 ┆ ... ┆ null  ┆ 0.008419 ┆ 0.006527 ┆ 0.0096   │
│ 052cdcda90ffab ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
│ f565...        ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 0000099d6bd597 ┆ 2017-07-16 ┆ 0.947248 ┆ 0.002483 ┆ ... ┆ null  ┆ 0.00167  ┆ 0.008126 ┆ 0.009827 │
│ 052cdcda90ffab ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
│ f565...        ┆            ┆          ┆          ┆     ┆       ┆          ┆          ┆          │
└────────────────┴────────────┴──────────┴──────────┴─────┴───────┴──────────┴──────────┴──────────┘

# Режим Eager и Lazy

In [9]:
%%time

# считываем файл
df = pl.read_csv('https://j.mp/iriscsv')
# вычисляем групповые статистики в режиме Eager
print(df.filter(pl.col('sepal_length') > 5)
      .groupby('species')
      .agg(pl.all().sum())
)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘
CPU times: user 36.6 ms, sys: 32.3 ms, total: 69 ms
Wall time: 703 ms

In [10]:
%%time

# вычисляем групповые статистики в режиме Lazy
print(
    pl.read_csv('https://j.mp/iriscsv')
    .lazy()
    .filter(pl.col('sepal_length') > 5)
    .groupby('species')
    .agg(pl.all().sum())
    .collect()
)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘
CPU times: user 27.4 ms, sys: 21 ms, total: 48.4 ms
Wall time: 454 ms

In [11]:
# переходим от режима Eager к режиму Lazy
(
    df.lazy()
    .filter(pl.col('sepal_length') > 5)
    .groupby('species')
    .agg(pl.all().sum())
    .collect()
)

shape: (3, 5)
┌────────────┬──────────────┬─────────────┬──────────────┬─────────────┐
│ species    ┆ sepal_length ┆ sepal_width ┆ petal_length ┆ petal_width │
│ ---        ┆ ---          ┆ ---         ┆ ---          ┆ ---         │
│ str        ┆ f64          ┆ f64         ┆ f64          ┆ f64         │
╞════════════╪══════════════╪═════════════╪══════════════╪═════════════╡
│ virginica  ┆ 324.5        ┆ 146.2       ┆ 273.1        ┆ 99.6        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ setosa     ┆ 116.9        ┆ 81.7        ┆ 33.2         ┆ 6.1         │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ versicolor ┆ 281.9        ┆ 131.8       ┆ 202.9        ┆ 63.3        │
└────────────┴──────────────┴─────────────┴──────────────┴─────────────┘

# Задачи, выполняемые Polars
# Кратко о типах данных
# Представление пропусков
# Какую версию Polars использовать?

In [12]:
# смотрим версию
pl.__version__

'0.14.18'

# Главные отличия Polars от pandas

# Подробно знакомимся с типами данных
## Типы данных для работы с числами и логическими значениями
### Тип данных Int (тип для целых чисел, целочисленный тип)

In [13]:
# создаем серию целочисленных значений
s_int = pl.Series([10, 35, 130]) 
s_int

shape: (3,)
Series: '' [i64]
[
	10
	35
	130
]

In [14]:
# сменим тип на Int8
s_int.cast(pl.Int8)

ComputeError: Strict conversion from Int64 to Int8 failed for values [130]. If you were trying to cast Utf8 to Date, Time, or Datetime, consider using `strptime`.

In [15]:
# создаем серию с пропусками типа Int64
pl.Series([10, 35, 130, None], dtype=pl.Int64)

shape: (4,)
Series: '' [i64]
[
	10
	35
	130
	null
]

In [16]:
# серии целочисленных значений с пропусками 
# будет присвоен тип Int64
pl.Series([10, 35, 130, None])

shape: (4,)
Series: '' [i64]
[
	10
	35
	130
	null
]

### Тип данных UInt (тип для целых чисел без знака)

In [17]:
# сменим тип на UInt8
s_int.cast(pl.UInt8)

shape: (3,)
Series: '' [u8]
[
	10
	35
	130
]

### Тип данных Float (тип для чисел с плавающей точкой)

In [18]:
# создаем серию с типом Float64
s_float = pl.Series([5.26, 1234.56789, None])
s_float

shape: (3,)
Series: '' [f64]
[
	5.26
	1234.56789
	null
]

In [19]:
# присвоим тип Float32
s_float.cast(pl.Float32)

shape: (3,)
Series: '' [f32]
[
	5.26
	1234.567871
	null
]

In [20]:
# переведем из Float64 в Int64
s_int = s_float.cast(pl.Int64)
s_int

shape: (3,)
Series: '' [i64]
[
	5
	1234
	null
]

In [21]:
# переведем из Int64 в Float64
s_float = s_int.cast(pl.Float64)
s_float

shape: (3,)
Series: '' [f64]
[
	5.0
	1234.0
	null
]

### Тип данных Boolean (логический тип, булев тип)

In [22]:
# создадим серию логических значений
s_bool = pl.Series([True, False]) 
s_bool

shape: (2,)
Series: '' [bool]
[
	true
	false
]

In [23]:
# создаем серию с типом Int64
s = pl.Series([0, 1, 59, -35])

In [24]:
# преобразовываем в тип Boolean
s.cast(pl.Boolean)

shape: (4,)
Series: '' [bool]
[
	false
	true
	true
	true
]

In [25]:
# создаем серию с типом Float
s = pl.Series([0, 0.0001, -3.99])

In [26]:
# преобразовываем в тип Boolean
s.cast(pl.Boolean)

shape: (3,)
Series: '' [bool]
[
	false
	true
	true
]

In [27]:
# преобразуем из типа Boolean в тип Int
s_bool.cast(pl.Int64)

shape: (2,)
Series: '' [i64]
[
	1
	0
]

In [28]:
# создаем серию с типом Boolean
s = pl.Series([True, False, None], dtype=pl.Boolean)
s

shape: (3,)
Series: '' [bool]
[
	true
	false
	null
]

## Типы данных для работы со строками
### Тип данных Object (объектный тип)

In [29]:
# создаем серию со строковыми значениями
s_object = pl.Series(['some', 'strings'], dtype=pl.Object) 
s_object

shape: (2,)
Series: '' [o][object]
[
	some
	strings
]

In [30]:
# проверим тип
s_object.dtype

polars.datatypes.Object

In [31]:
# присвоим серии с логическими значениями тип Object
s = pl.Series([True, False])
s.cast(pl.Object)

thread '<unnamed>' panicked at 'cannot convert object to arrow', /Users/runner/work/polars/polars/polars/polars-core/src/datatypes/dtype.rs:204:26
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

PanicException: cannot convert object to arrow

In [32]:
# присвоим серии с вещественными 
# значениями тип Object
s = pl.Series([5.2, 10.3])
s.cast(pl.Object)

thread '<unnamed>' panicked at 'cannot convert object to arrow', /Users/runner/work/polars/polars/polars/polars-core/src/datatypes/dtype.rs:204:26

PanicException: cannot convert object to arrow

In [33]:
# присвоим серии с целыми числами тип Object
s = pl.Series([5, 10])
s.cast(pl.Object)

thread '<unnamed>' panicked at 'cannot convert object to arrow', /Users/runner/work/polars/polars/polars/polars-core/src/datatypes/dtype.rs:204:26

PanicException: cannot convert object to arrow

In [34]:
# серия с типом Object может содержать все что угодно
garbage_series = pl.Series([[1,2], True, 'some string', 
                            4.5, {'key': 'value'}])
garbage_series

shape: (5,)
Series: '' [o][object]
[
	[1, 2]
	True
	some string
	4.5
	{'key': 'value'}
]

In [35]:
# элементом серии с типом Object
# может быть все что угодно
print(type(garbage_series[0]))
print(type(garbage_series[1]))
print(type(garbage_series[2]))
print(type(garbage_series[3]))
print(type(garbage_series[4]))

<class 'list'>
<class 'bool'>
<class 'str'>
<class 'float'>
<class 'dict'>

### Тип данных Categorical (категориальный тип)

In [36]:
# записываем CSV-файл в объект DataFrame
bikes = pl.read_csv('Data/bikes.csv')
# выводим первые 5 наблюдений датафрейма
bikes.head()

shape: (5, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ str       ┆ str       ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆           ┆           ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-06-2 ┆ 2013-06-2 ┆ 993        ┆ ... ┆ 15.0       ┆ 73.9      ┆ 12.7     ┆ mostlycl │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 19:01:00  ┆ 19:17:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-2 ┆ 2013-06-2 ┆ 623        ┆ ... ┆ 19.0       ┆ 69.1      ┆ 6.9      ┆ partlycl │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 22:53:00  ┆ 23:03:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-3 ┆ 2013-06-3 ┆ 1040       ┆ ... ┆ 23.0       ┆ 73.0      ┆ 16.1     ┆ mostlycl │
│        ┆ 0         ┆ 0         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 14:43:00  ┆ 15:01:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 667        ┆ ... ┆ 31.0       ┆ 72.0      ┆ 16.1     ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 10:05:00  ┆ 10:16:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 130        ┆ ... ┆ 19.0       ┆ 73.0      ┆ 17.3     ┆ partlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 11:16:00  ┆ 11:18:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [37]:
# смотрим частоты категорий events
events = bikes['events']
events.value_counts()

shape: (11, 2)
┌──────────────┬────────┐
│ events       ┆ counts │
│ ---          ┆ ---    │
│ str          ┆ u32    │
╞══════════════╪════════╡
│ fog          ┆ 122    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ hazy         ┆ 348    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ cloudy       ┆ 12075  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ sleet        ┆ 16     │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ clear        ┆ 2818   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ mostlycloudy ┆ 15096  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ partlycloudy ┆ 16998  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ tstorms      ┆ 318    │
└──────────────┴────────┘

In [38]:
# присваиваем тип Categorical
events_cat = events.cast(pl.Categorical)
events_cat.head()

shape: (10,)
Series: 'events' [cat]
[
	"mostlycloudy"
	"partlycloudy"
	"mostlycloudy"
	"mostlycloudy"
	"partlycloudy"
	"mostlycloudy"
	"cloudy"
	"cloudy"
	"cloudy"
	"mostlycloudy"
]

In [39]:
# смотрим тип серии
events_cat.dtype

polars.datatypes.Categorical

### Тип данных Utf8 (строковый тип)

In [40]:
# создаем серию с типом Utf8
s_string = pl.Series(['Python', 'Java', 'Scala', None], 
                     dtype=pl.Utf8)
s_string

shape: (4,)
Series: '' [str]
[
	"Python"
	"Java"
	"Scala"
	null
]

In [41]:
# сделаем буквы заглавными
s_string.str.to_uppercase()

shape: (4,)
Series: '' [str]
[
	"PYTHON"
	"JAVA"
	"SCALA"
	null
]

In [42]:
# серии с целыми числами присваиваем тип Utf8
s = pl.Series([10, 20, 99])
s.cast(pl.Utf8)

shape: (3,)
Series: '' [str]
[
	"10"
	"20"
	"99"
]

In [43]:
# серии чисел с плавающей точкой
# присваиваем тип Utf8
s = pl.Series([10.5, 20.3, 99.1])
s.cast(pl.Utf8)

shape: (3,)
Series: '' [str]
[
	"10.5"
	"20.3"
	"99.1"
]

In [44]:
# создаем серию со строками, выглядящими 
# как целые числа
s = pl.Series(['0', '1'])
s

shape: (2,)
Series: '' [str]
[
	"0"
	"1"
]

In [45]:
# переводим в тип Int64
s.cast(pl.Int64)

shape: (2,)
Series: '' [i64]
[
	0
	1
]

In [46]:
# создаем серию со строками, выглядящими 
# как числа с плавающей точкой
s = pl.Series(['4.5', '3.19'])
s

shape: (2,)
Series: '' [str]
[
	"4.5"
	"3.19"
]

In [47]:
# переводим в тип Float64
s.cast(pl.Float64)

shape: (2,)
Series: '' [f64]
[
	4.5
	3.19
]

In [48]:
# создаем серию со строковыми значениями
s = pl.Series(['4.5', '3.19', 'NO ANSWER'])
s

shape: (3,)
Series: '' [str]
[
	"4.5"
	"3.19"
	"NO ANSWER"
]

In [49]:
# переводим в тип Float64
s.cast(pl.Float64)

ComputeError: Strict conversion from Utf8 to Float64 failed for values ["NO ANSWER"]. If you were trying to cast Utf8 to Date, Time, or Datetime, consider using `strptime`.

## Типы данных для работы с моментами времени

### Типы данных Date и Datetime

In [50]:
# загружаем данные
df = pl.read_csv('Data/applestock.csv', parse_dates=True)
df.head()

shape: (5, 7)
┌────────────┬───────────┬───────────┬───────────┬───────────┬──────────┬───────────┐
│ Date       ┆ Open      ┆ High      ┆ Low       ┆ Close     ┆ Volume   ┆ Adj Close │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---       │
│ date       ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64      ┆ f64       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╪══════════╪═══════════╡
│ 2016-05-16 ┆ 92.389999 ┆ 94.389999 ┆ 91.650002 ┆ 93.879997 ┆ 61140600 ┆ 93.879997 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-13 ┆ 90.0      ┆ 91.669998 ┆ 90.0      ┆ 90.519997 ┆ 44188200 ┆ 90.519997 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-12 ┆ 92.720001 ┆ 92.779999 ┆ 89.470001 ┆ 90.339996 ┆ 76109800 ┆ 90.339996 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-11 ┆ 93.480003 ┆ 93.57     ┆ 92.459999 ┆ 92.510002 ┆ 28539900 ┆ 92.510002 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-10 ┆ 93.330002 ┆ 93.57     ┆ 92.110001 ┆ 93.419998 ┆ 33592500 ┆ 93.419998 │
└────────────┴───────────┴───────────┴───────────┴───────────┴──────────┴───────────┘

In [51]:
# загружаем данные, даты обрабатываются как строки
df = pl.read_csv('Data/applestock.csv', parse_dates=False)
df.head()

shape: (5, 7)
┌────────────┬───────────┬───────────┬───────────┬───────────┬──────────┬───────────┐
│ Date       ┆ Open      ┆ High      ┆ Low       ┆ Close     ┆ Volume   ┆ Adj Close │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---       │
│ str        ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64      ┆ f64       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╪══════════╪═══════════╡
│ 2016-05-16 ┆ 92.389999 ┆ 94.389999 ┆ 91.650002 ┆ 93.879997 ┆ 61140600 ┆ 93.879997 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-13 ┆ 90.0      ┆ 91.669998 ┆ 90.0      ┆ 90.519997 ┆ 44188200 ┆ 90.519997 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-12 ┆ 92.720001 ┆ 92.779999 ┆ 89.470001 ┆ 90.339996 ┆ 76109800 ┆ 90.339996 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-11 ┆ 93.480003 ┆ 93.57     ┆ 92.459999 ┆ 92.510002 ┆ 28539900 ┆ 92.510002 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-10 ┆ 93.330002 ┆ 93.57     ┆ 92.110001 ┆ 93.419998 ┆ 33592500 ┆ 93.419998 │
└────────────┴───────────┴───────────┴───────────┴───────────┴──────────┴───────────┘

In [52]:
# переводим переменную с датами в тип Date
df = df.with_column(pl.col('Date').str.strptime(
    pl.Date, fmt='%Y-%m-%d'))
df.head()

shape: (5, 7)
┌────────────┬───────────┬───────────┬───────────┬───────────┬──────────┬───────────┐
│ Date       ┆ Open      ┆ High      ┆ Low       ┆ Close     ┆ Volume   ┆ Adj Close │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       ┆ ---      ┆ ---       │
│ date       ┆ f64       ┆ f64       ┆ f64       ┆ f64       ┆ i64      ┆ f64       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╪══════════╪═══════════╡
│ 2016-05-16 ┆ 92.389999 ┆ 94.389999 ┆ 91.650002 ┆ 93.879997 ┆ 61140600 ┆ 93.879997 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-13 ┆ 90.0      ┆ 91.669998 ┆ 90.0      ┆ 90.519997 ┆ 44188200 ┆ 90.519997 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-12 ┆ 92.720001 ┆ 92.779999 ┆ 89.470001 ┆ 90.339996 ┆ 76109800 ┆ 90.339996 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-11 ┆ 93.480003 ┆ 93.57     ┆ 92.459999 ┆ 92.510002 ┆ 28539900 ┆ 92.510002 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-05-10 ┆ 93.330002 ┆ 93.57     ┆ 92.110001 ┆ 93.419998 ┆ 33592500 ┆ 93.419998 │
└────────────┴───────────┴───────────┴───────────┴───────────┴──────────┴───────────┘

In [53]:
# записываем датафрейм на основе CSV-файла, 
# содержащего даты и время
df = pl.read_csv('Data/pickup_dates.csv', parse_dates=False)
df

shape: (6, 1)
┌──────────────────┐
│ pickup_datetime  │
│ ---              │
│ str              │
╞══════════════════╡
│ 14.03.2016 17:24 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 12.06.2016 0:43  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 19.01.2016 11:35 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 06.04.2016 19:32 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 26.03.2016 13:30 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 30.01.2016 22:01 │
└──────────────────┘

In [54]:
# переводим переменную с датами 
# и временем в тип Datetime
df = df.with_column(
    pl.col('pickup_datetime').str.strptime(
        pl.Datetime, fmt='%d.%m.%Y %H:%M'))
df

shape: (6, 1)
┌─────────────────────┐
│ pickup_datetime     │
│ ---                 │
│ datetime[μs]        │
╞═════════════════════╡
│ 2016-03-14 17:24:00 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-06-12 00:43:00 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-01-19 11:35:00 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-04-06 19:32:00 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-03-26 13:30:00 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2016-01-30 22:01:00 │
└─────────────────────┘

### Тип данных Duration

In [55]:
# из даты второго наблюдения вычтем 
# дату первого наблюдения
df[1] - df[0]

shape: (1, 1)
┌─────────────────┐
│ pickup_datetime │
│ ---             │
│ duration[μs]    │
╞═════════════════╡
│ 89d 7h 19m      │
└─────────────────┘

# Чтение данных

In [56]:
# загружаем данные
bikes = pl.read_csv('Data/bikes.csv', parse_dates=True)

In [57]:
# выведем первые 3 наблюдения
bikes.head(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-06-2 ┆ 2013-06-2 ┆ 993        ┆ ... ┆ 15.0       ┆ 73.9      ┆ 12.7     ┆ mostlycl │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 19:01:00  ┆ 19:17:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-2 ┆ 2013-06-2 ┆ 623        ┆ ... ┆ 19.0       ┆ 69.1      ┆ 6.9      ┆ partlycl │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 22:53:00  ┆ 23:03:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-3 ┆ 2013-06-3 ┆ 1040       ┆ ... ┆ 23.0       ┆ 73.0      ┆ 16.1     ┆ mostlycl │
│        ┆ 0         ┆ 0         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 14:43:00  ┆ 15:01:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [58]:
# выведем последние 3 наблюдения
bikes.tail(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2017-12-3 ┆ 2017-12-3 ┆ 824        ┆ ... ┆ 20.0       ┆ 5.0       ┆ 16.1     ┆ partlycl │
│        ┆ 0         ┆ 0         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 13:34:00  ┆ 13:48:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2017-12-3 ┆ 2017-12-3 ┆ 178        ┆ ... ┆ 31.0       ┆ 7.0       ┆ 11.5     ┆ partlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 09:30:00  ┆ 09:33:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-3 ┆ 2017-12-3 ┆ 214        ┆ ... ┆ 15.0       ┆ 10.9      ┆ 15.0     ┆ partlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 15:22:00  ┆ 15:26:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

# Изменение настроек вывода

In [59]:
# задаем максимальное количество строк и столбцов
# pl.Config.set_tbl_rows(100)  
# pl.Config.set_tbl_cols(30)

# Получение общей информации о датафрейме

In [60]:
# смотрим количество наблюдений
# и количество переменных
print(bikes.shape)

(50089, 11)

In [61]:
# смотрим количество наблюдений
print(len(bikes))

50089

In [62]:
# выведем имена столбцов
print(bikes.columns)

['gender', 'starttime', 'stoptime', 'tripduration', 'from_station_name', 'start_capacity', 'to_station_name', 'end_capacity', 'temperature', 'wind_speed', 'events']

In [63]:
# смотрим типы переменных
var_types = dict(zip(bikes.columns, bikes.dtypes))
var_types

{'gender': polars.datatypes.Utf8,
 'starttime': datetime[μs],
 'stoptime': datetime[μs],
 'tripduration': polars.datatypes.Int64,
 'from_station_name': polars.datatypes.Utf8,
 'start_capacity': polars.datatypes.Float64,
 'to_station_name': polars.datatypes.Utf8,
 'end_capacity': polars.datatypes.Float64,
 'temperature': polars.datatypes.Float64,
 'wind_speed': polars.datatypes.Float64,
 'events': polars.datatypes.Utf8}

In [64]:
# еще можно так
for col in bikes.get_columns():
    print(f"{col.name} - {col.dtype}")

gender - <class 'polars.datatypes.Utf8'>
starttime - datetime[μs]
stoptime - datetime[μs]
tripduration - <class 'polars.datatypes.Int64'>
from_station_name - <class 'polars.datatypes.Utf8'>
start_capacity - <class 'polars.datatypes.Float64'>
to_station_name - <class 'polars.datatypes.Utf8'>
end_capacity - <class 'polars.datatypes.Float64'>
temperature - <class 'polars.datatypes.Float64'>
wind_speed - <class 'polars.datatypes.Float64'>
events - <class 'polars.datatypes.Utf8'>

In [65]:
# выведем частоты категорий по некоторым 
# категориальным переменным
lst = ['gender', 'events']
for col in lst:
    print(bikes[col].value_counts())

shape: (2, 2)
┌────────┬────────┐
│ gender ┆ counts │
│ ---    ┆ ---    │
│ str    ┆ u32    │
╞════════╪════════╡
│ Female ┆ 12435  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Male   ┆ 37654  │
└────────┴────────┘
shape: (11, 2)
┌──────────────┬────────┐
│ events       ┆ counts │
│ ---          ┆ ---    │
│ str          ┆ u32    │
╞══════════════╪════════╡
│ partlycloudy ┆ 16998  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ rain         ┆ 1828   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ hazy         ┆ 348    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ cloudy       ┆ 12075  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ unknown      ┆ 4      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ sleet        ┆ 16     │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ tstorms      ┆ 318    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ fog          ┆ 122    │
└──────────────┴────────┘

In [66]:
# выведем уникальные значения по некоторым 
# категориальным переменным
for col in lst:
    print(bikes.select([col]).unique())

shape: (2, 1)
┌────────┐
│ gender │
│ ---    │
│ str    │
╞════════╡
│ Male   │
├╌╌╌╌╌╌╌╌┤
│ Female │
└────────┘
shape: (11, 1)
┌──────────────┐
│ events       │
│ ---          │
│ str          │
╞══════════════╡
│ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ partlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ clear        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ fog          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ snow         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ sleet        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ unknown      │
└──────────────┘

# Отбор данных
## Отбор с помощью индексирования

In [67]:
# отберем один столбец
bikes['gender']

shape: (50089,)
Series: 'gender' [str]
[
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Female"
	"Male"
	"Male"
	...
	"Male"
	"Female"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Male"
	"Female"
	"Male"
]

In [68]:
# извлекаем несколько столбцов, передав
# индексатору [] список
bikes[['gender', 'tripduration']]

shape: (50089, 2)
┌────────┬──────────────┐
│ gender ┆ tripduration │
│ ---    ┆ ---          │
│ str    ┆ i64          │
╞════════╪══════════════╡
│ Male   ┆ 993          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 623          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 1040         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 667          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 585          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 824          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 178          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 214          │
└────────┴──────────────┘

In [69]:
# отбираем первые две строки столбцов
# start_capacity и tripduration, передав
# в [] список строк, список столбцов
bikes[[0, 1], ['start_capacity', 'tripduration']]

shape: (2, 2)
┌────────────────┬──────────────┐
│ start_capacity ┆ tripduration │
│ ---            ┆ ---          │
│ f64            ┆ i64          │
╞════════════════╪══════════════╡
│ 11.0           ┆ 993          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 31.0           ┆ 623          │
└────────────────┴──────────────┘

In [70]:
# отбираем первые четыре строки столбцов
# с gender по tripduration, передав
# в [] диапазон строк, диапазон столбцов
bikes[0:4, 'gender':'tripduration']

shape: (4, 4)
┌────────┬─────────────────────┬─────────────────────┬──────────────┐
│ gender ┆ starttime           ┆ stoptime            ┆ tripduration │
│ ---    ┆ ---                 ┆ ---                 ┆ ---          │
│ str    ┆ datetime[μs]        ┆ datetime[μs]        ┆ i64          │
╞════════╪═════════════════════╪═════════════════════╪══════════════╡
│ Male   ┆ 2013-06-28 19:01:00 ┆ 2013-06-28 19:17:00 ┆ 993          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-28 22:53:00 ┆ 2013-06-28 23:03:00 ┆ 623          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-30 14:43:00 ┆ 2013-06-30 15:01:00 ┆ 1040         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-01 10:05:00 ┆ 2013-07-01 10:16:00 ┆ 667          │
└────────┴─────────────────────┴─────────────────────┴──────────────┘

In [71]:
# отберем каждую 2-ю строку каждого 2-го столбца, 
# передав в [] диапазон строк, диапазон столбцов
bikes[0::2, 'gender':'events':2]

shape: (25045, 6)
┌────────┬────────────┬───────────────────────┬───────────────────────┬─────────────┬──────────────┐
│ gender ┆ stoptime   ┆ from_station_name     ┆ to_station_name       ┆ temperature ┆ events       │
│ ---    ┆ ---        ┆ ---                   ┆ ---                   ┆ ---         ┆ ---          │
│ str    ┆ datetime[μ ┆ str                   ┆ str                   ┆ f64         ┆ str          │
│        ┆ s]         ┆                       ┆                       ┆             ┆              │
╞════════╪════════════╪═══════════════════════╪═══════════════════════╪═════════════╪══════════════╡
│ Male   ┆ 2013-06-28 ┆ Lake Shore Dr &       ┆ Michigan Ave & Oak St ┆ 73.9        ┆ mostlycloudy │
│        ┆ 19:17:00   ┆ Monroe St             ┆                       ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-30 ┆ Sheffield Ave &       ┆ Dearborn St & Monroe  ┆ 73.0        ┆ mostlycloudy │
│        ┆ 15:01:00   ┆ Kingsbury St          ┆ St                    ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-01 ┆ Damen Ave & Pierce    ┆ Damen Ave & Pierce    ┆ 73.0        ┆ partlycloudy │
│        ┆ 11:18:00   ┆ Ave                   ┆ Ave                   ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-02 ┆ Clark St & Randolph   ┆ Ravenswood Ave &      ┆ 66.0        ┆ cloudy       │
│        ┆ 17:56:00   ┆ St                    ┆ Irving Park Rd        ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...        ┆ ...                   ┆ ...                   ┆ ...         ┆ ...          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 ┆ Larrabee St & Oak St  ┆ Halsted St &          ┆ 3.9         ┆ mostlycloudy │
│        ┆ 10:53:00   ┆                       ┆ Blackhawk St (*)      ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 ┆ State St & Pearson St ┆ Clark St & Elm St     ┆ 5.0         ┆ partlycloudy │
│        ┆ 13:34:00   ┆                       ┆                       ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 ┆ Kingsbury St & Kinzie ┆ Halsted St &          ┆ 5.0         ┆ partlycloudy │
│        ┆ 13:48:00   ┆ St                    ┆ Blackhawk St (*)      ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-31 ┆ Clarendon Ave &       ┆ Clifton Ave &         ┆ 10.9        ┆ partlycloudy │
│        ┆ 15:26:00   ┆ Leland Ave            ┆ Lawrence Ave          ┆             ┆              │
└────────┴────────────┴───────────────────────┴───────────────────────┴─────────────┴──────────────┘

In [72]:
# а можно было так
bikes[0:50089:2, 'gender':'events':2]

shape: (25045, 6)
┌────────┬────────────┬───────────────────────┬───────────────────────┬─────────────┬──────────────┐
│ gender ┆ stoptime   ┆ from_station_name     ┆ to_station_name       ┆ temperature ┆ events       │
│ ---    ┆ ---        ┆ ---                   ┆ ---                   ┆ ---         ┆ ---          │
│ str    ┆ datetime[μ ┆ str                   ┆ str                   ┆ f64         ┆ str          │
│        ┆ s]         ┆                       ┆                       ┆             ┆              │
╞════════╪════════════╪═══════════════════════╪═══════════════════════╪═════════════╪══════════════╡
│ Male   ┆ 2013-06-28 ┆ Lake Shore Dr &       ┆ Michigan Ave & Oak St ┆ 73.9        ┆ mostlycloudy │
│        ┆ 19:17:00   ┆ Monroe St             ┆                       ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-30 ┆ Sheffield Ave &       ┆ Dearborn St & Monroe  ┆ 73.0        ┆ mostlycloudy │
│        ┆ 15:01:00   ┆ Kingsbury St          ┆ St                    ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-01 ┆ Damen Ave & Pierce    ┆ Damen Ave & Pierce    ┆ 73.0        ┆ partlycloudy │
│        ┆ 11:18:00   ┆ Ave                   ┆ Ave                   ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-02 ┆ Clark St & Randolph   ┆ Ravenswood Ave &      ┆ 66.0        ┆ cloudy       │
│        ┆ 17:56:00   ┆ St                    ┆ Irving Park Rd        ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...        ┆ ...                   ┆ ...                   ┆ ...         ┆ ...          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 ┆ Larrabee St & Oak St  ┆ Halsted St &          ┆ 3.9         ┆ mostlycloudy │
│        ┆ 10:53:00   ┆                       ┆ Blackhawk St (*)      ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 ┆ State St & Pearson St ┆ Clark St & Elm St     ┆ 5.0         ┆ partlycloudy │
│        ┆ 13:34:00   ┆                       ┆                       ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 ┆ Kingsbury St & Kinzie ┆ Halsted St &          ┆ 5.0         ┆ partlycloudy │
│        ┆ 13:48:00   ┆ St                    ┆ Blackhawk St (*)      ┆             ┆              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-31 ┆ Clarendon Ave &       ┆ Clifton Ave &         ┆ 10.9        ┆ partlycloudy │
│        ┆ 15:26:00   ┆ Leland Ave            ┆ Lawrence Ave          ┆             ┆              │
└────────┴────────────┴───────────────────────┴───────────────────────┴─────────────┴──────────────┘

In [73]:
# отбираем, начиная с пятой строки и столбца 
# from_station_name, передав в [] диапазон 
# строк, диапазон столбцов
bikes[4:, 'from_station_name':]

shape: (50085, 7)
┌────────────┬────────────┬──────────────────────────────┬──────┬──────┬────────────┬──────────────┐
│ from_stati ┆ start_capa ┆ to_station_name              ┆ end_ ┆ temp ┆ wind_speed ┆ events       │
│ on_name    ┆ city       ┆ ---                          ┆ capa ┆ erat ┆ ---        ┆ ---          │
│ ---        ┆ ---        ┆ str                          ┆ city ┆ ure  ┆ f64        ┆ str          │
│ str        ┆ f64        ┆                              ┆ ---  ┆ ---  ┆            ┆              │
│            ┆            ┆                              ┆ f64  ┆ f64  ┆            ┆              │
╞════════════╪════════════╪══════════════════════════════╪══════╪══════╪════════════╪══════════════╡
│ Damen Ave  ┆ 19.0       ┆ Damen Ave & Pierce Ave       ┆ 19.0 ┆ 73.0 ┆ 17.3       ┆ partlycloudy │
│ & Pierce   ┆            ┆                              ┆      ┆      ┆            ┆              │
│ Ave        ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ California ┆ 15.0       ┆ Clark St & Wrightwood Ave    ┆ 15.0 ┆ 73.0 ┆ 17.3       ┆ mostlycloudy │
│ Ave & 21st ┆            ┆                              ┆      ┆      ┆            ┆              │
│ St         ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Clark St & ┆ 31.0       ┆ Ravenswood Ave & Irving Park ┆ 19.0 ┆ 66.0 ┆ 15.0       ┆ cloudy       │
│ Randolph   ┆            ┆ Rd                           ┆      ┆      ┆            ┆              │
│ St         ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ State St & ┆ 27.0       ┆ Franklin St & Jackson Blvd   ┆ 27.0 ┆ 64.0 ┆ 5.8        ┆ cloudy       │
│ Van Buren  ┆            ┆                              ┆      ┆      ┆            ┆              │
│ St         ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...        ┆ ...                          ┆ ...  ┆ ...  ┆ ...        ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Halsted St ┆ 16.0       ┆ Union Ave & Root St          ┆ 11.0 ┆ 5.0  ┆ 16.1       ┆ partlycloudy │
│ & 35th St  ┆            ┆                              ┆      ┆      ┆            ┆              │
│ (*)        ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Kingsbury  ┆ 31.0       ┆ Halsted St & Blackhawk St    ┆ 20.0 ┆ 5.0  ┆ 16.1       ┆ partlycloudy │
│ St &       ┆            ┆ (*)                          ┆      ┆      ┆            ┆              │
│ Kinzie St  ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Clinton St ┆ 23.0       ┆ Kingsbury St & Kinzie St     ┆ 31.0 ┆ 7.0  ┆ 11.5       ┆ partlycloudy │
│ & Lake St  ┆            ┆                              ┆      ┆      ┆            ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Clarendon  ┆ 15.0       ┆ Clifton Ave & Lawrence Ave   ┆ 15.0 ┆ 10.9 ┆ 15.0       ┆ partlycloudy │
│ Ave &      ┆            ┆                              ┆      ┆      ┆            ┆              │
│ Leland Ave ┆            ┆                              ┆      ┆      ┆            ┆              │
└────────────┴────────────┴──────────────────────────────┴──────┴──────┴────────────┴──────────────┘

In [74]:
# отбираем столбцы start_capacity 
# и tripduration, передав в [] список 
# столбцов после двоеточия с запятой
bikes[:, ['start_capacity', 'tripduration']]

shape: (50089, 2)
┌────────────────┬──────────────┐
│ start_capacity ┆ tripduration │
│ ---            ┆ ---          │
│ f64            ┆ i64          │
╞════════════════╪══════════════╡
│ 11.0           ┆ 993          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 31.0           ┆ 623          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 15.0           ┆ 1040         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 19.0           ┆ 667          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...            ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 16.0           ┆ 585          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 31.0           ┆ 824          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 23.0           ┆ 178          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 15.0           ┆ 214          │
└────────────────┴──────────────┘

In [75]:
# отбираем диапазон столбцов с помощью []
bikes[:, 'gender':'tripduration']

shape: (50089, 4)
┌────────┬─────────────────────┬─────────────────────┬──────────────┐
│ gender ┆ starttime           ┆ stoptime            ┆ tripduration │
│ ---    ┆ ---                 ┆ ---                 ┆ ---          │
│ str    ┆ datetime[μs]        ┆ datetime[μs]        ┆ i64          │
╞════════╪═════════════════════╪═════════════════════╪══════════════╡
│ Male   ┆ 2013-06-28 19:01:00 ┆ 2013-06-28 19:17:00 ┆ 993          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-28 22:53:00 ┆ 2013-06-28 23:03:00 ┆ 623          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-06-30 14:43:00 ┆ 2013-06-30 15:01:00 ┆ 1040         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-01 10:05:00 ┆ 2013-07-01 10:16:00 ┆ 667          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...                 ┆ ...                 ┆ ...          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 13:34:00 ┆ 2017-12-30 13:44:00 ┆ 585          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-30 13:34:00 ┆ 2017-12-30 13:48:00 ┆ 824          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2017-12-31 09:30:00 ┆ 2017-12-31 09:33:00 ┆ 178          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-31 15:22:00 ┆ 2017-12-31 15:26:00 ┆ 214          │
└────────┴─────────────────────┴─────────────────────┴──────────────┘

In [76]:
# отберем строки с метками индекса 1, 5 и 6
bikes[[1, 5, 6], :]

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-06-2 ┆ 2013-06-2 ┆ 623        ┆ ... ┆ 19.0       ┆ 69.1      ┆ 6.9      ┆ partlycl │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 22:53:00  ┆ 23:03:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 660        ┆ ... ┆ 15.0       ┆ 73.0      ┆ 17.3     ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 12:37:00  ┆ 12:48:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 565        ┆ ... ┆ 19.0       ┆ 66.0      ┆ 15.0     ┆ cloudy   │
│        ┆ 2         ┆ 2         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 17:47:00  ┆ 17:56:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [77]:
# отберем каждую 10-ю строку
bikes[0::10, :]

shape: (5009, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-06-2 ┆ 2013-06-2 ┆ 993        ┆ ... ┆ 15.0       ┆ 73.9      ┆ 12.7     ┆ mostlycl │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 19:01:00  ┆ 19:17:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 1523       ┆ ... ┆ 19.0       ┆ 79.0      ┆ 9.2      ┆ mostlycl │
│        ┆ 4         ┆ 4         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 17:17:00  ┆ 17:42:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-0 ┆ 2013-07-0 ┆ 943        ┆ ... ┆ 15.0       ┆ 82.9      ┆ 9.2      ┆ mostlycl │
│        ┆ 9         ┆ 9         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 17:39:00  ┆ 17:55:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-1 ┆ 2013-07-1 ┆ 512        ┆ ... ┆ 15.0       ┆ 81.0      ┆ 4.6      ┆ partlycl │
│        ┆ 2         ┆ 2         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 12:32:00  ┆ 12:41:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...       ┆ ...       ┆ ...        ┆ ... ┆ ...        ┆ ...       ┆ ...      ┆ ...      │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-2 ┆ 2017-12-2 ┆ 708        ┆ ... ┆ 11.0       ┆ 37.0      ┆ 6.9      ┆ hazy     │
│        ┆ 2         ┆ 2         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 16:33:00  ┆ 16:45:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-2 ┆ 2017-12-2 ┆ 412        ┆ ... ┆ 15.0       ┆ 26.1      ┆ 11.5     ┆ partlycl │
│        ┆ 3         ┆ 3         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 15:31:00  ┆ 15:38:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-2 ┆ 2017-12-2 ┆ 275        ┆ ... ┆ 15.0       ┆ 1.0       ┆ 0.0      ┆ partlycl │
│        ┆ 7         ┆ 7         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 20:02:00  ┆ 20:06:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2017-12-2 ┆ 2017-12-2 ┆ 1378       ┆ ... ┆ 19.0       ┆ 14.0      ┆ 6.9      ┆ snow     │
│        ┆ 9         ┆ 9         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 15:28:00  ┆ 15:51:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [78]:
# отбираем строки с индексами 2 и 3
# и столбцы с индексами 2 и 3
bikes[2:4, 2:4]

shape: (2, 2)
┌─────────────────────┬──────────────┐
│ stoptime            ┆ tripduration │
│ ---                 ┆ ---          │
│ datetime[μs]        ┆ i64          │
╞═════════════════════╪══════════════╡
│ 2013-06-30 15:01:00 ┆ 1040         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 2013-07-01 10:16:00 ┆ 667          │
└─────────────────────┴──────────────┘

In [79]:
# отбираем столбцы с индексами 3 и 5, передав в
# [] список столбцов после двоеточия с запятой
bikes[:, [3, 5]]

shape: (50089, 2)
┌──────────────┬────────────────┐
│ tripduration ┆ start_capacity │
│ ---          ┆ ---            │
│ i64          ┆ f64            │
╞══════════════╪════════════════╡
│ 993          ┆ 11.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 623          ┆ 31.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1040         ┆ 15.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 667          ┆ 19.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...            │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 585          ┆ 16.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 824          ┆ 31.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 178          ┆ 23.0           │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 214          ┆ 15.0           │
└──────────────┴────────────────┘

In [80]:
# отбираем строки с индексами 3 и 5, передав в
# [] список строк перед запятой с двоеточием
bikes[[3, 5], :]

shape: (2, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 667        ┆ ... ┆ 31.0       ┆ 72.0      ┆ 16.1     ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 10:05:00  ┆ 10:16:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 660        ┆ ... ┆ 15.0       ┆ 73.0      ┆ 17.3     ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 12:37:00  ┆ 12:48:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [81]:
# отбираем строку с индексом 3 и
# столбец tripduration
bikes[3, 'tripduration']

667

In [82]:
# отбираем строку с индексом 3 и
# столбец с индексом 3
bikes[3, 3]

667

## Отбор с помощью выражений

In [83]:
# отбор строк по одному условию
filt = pl.col('tripduration') > 5000
bikes.filter(filt).head(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 5396       ┆ ... ┆ 35.0       ┆ 79.0      ┆ 13.8     ┆ cloudy   │
│        ┆ 9         ┆ 9         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 13:12:00  ┆ 14:42:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-1 ┆ 2013-07-1 ┆ 6274       ┆ ... ┆ 11.0       ┆ 87.1      ┆ 8.1      ┆ partlycl │
│        ┆ 4         ┆ 4         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 14:08:00  ┆ 15:53:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-2 ┆ 2013-07-2 ┆ 8299       ┆ ... ┆ 15.0       ┆ 82.9      ┆ 5.8      ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 11:35:00  ┆ 13:54:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [84]:
# еще можно так
bikes.filter(pl.col('tripduration') > 5000).head(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 5396       ┆ ... ┆ 35.0       ┆ 79.0      ┆ 13.8     ┆ cloudy   │
│        ┆ 9         ┆ 9         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 13:12:00  ┆ 14:42:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-1 ┆ 2013-07-1 ┆ 6274       ┆ ... ┆ 11.0       ┆ 87.1      ┆ 8.1      ┆ partlycl │
│        ┆ 4         ┆ 4         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 14:08:00  ┆ 15:53:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-2 ┆ 2013-07-2 ┆ 8299       ┆ ... ┆ 15.0       ┆ 82.9      ┆ 5.8      ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 11:35:00  ┆ 13:54:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [85]:
# отбор строк по двум условиям
filt1 = pl.col('tripduration') > 5000
filt2 = pl.col('gender') == 'Female'
filt = filt1 & filt2
bikes.filter(filt).head(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Female ┆ 2013-07-1 ┆ 2013-07-1 ┆ 6274       ┆ ... ┆ 11.0       ┆ 87.1      ┆ 8.1      ┆ partlycl │
│        ┆ 4         ┆ 4         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 14:08:00  ┆ 15:53:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-2 ┆ 2013-07-2 ┆ 8299       ┆ ... ┆ 15.0       ┆ 82.9      ┆ 5.8      ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 11:35:00  ┆ 13:54:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-12-2 ┆ 2013-12-2 ┆ 7050       ┆ ... ┆ 15.0       ┆ 44.1      ┆ 12.7     ┆ clear    │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 11:37:00  ┆ 13:34:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [86]:
# еще можно так
bikes.filter((pl.col('tripduration') > 5000) & 
             (pl.col('gender') == 'Female')).head(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Female ┆ 2013-07-1 ┆ 2013-07-1 ┆ 6274       ┆ ... ┆ 11.0       ┆ 87.1      ┆ 8.1      ┆ partlycl │
│        ┆ 4         ┆ 4         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 14:08:00  ┆ 15:53:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-2 ┆ 2013-07-2 ┆ 8299       ┆ ... ┆ 15.0       ┆ 82.9      ┆ 5.8      ┆ mostlycl │
│        ┆ 1         ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 11:35:00  ┆ 13:54:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-12-2 ┆ 2013-12-2 ┆ 7050       ┆ ... ┆ 15.0       ┆ 44.1      ┆ 12.7     ┆ clear    │
│        ┆ 8         ┆ 8         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 11:37:00  ┆ 13:34:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [87]:
# только одно из условий является истинным
filt = filt1 | filt2
bikes.filter(filt).head(3)

shape: (3, 11)
┌────────┬───────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬──────────┐
│ gender ┆ starttime ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events   │
│ ---    ┆ ---       ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---      │
│ str    ┆ datetime[ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str      │
│        ┆ μs]       ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆          │
╞════════╪═══════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪══════════╡
│ Female ┆ 2013-07-0 ┆ 2013-07-0 ┆ 922        ┆ ... ┆ 19.0       ┆ 81.0      ┆ 12.7     ┆ mostlycl │
│        ┆ 4         ┆ 4         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 15:00:00  ┆ 15:16:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ 2013-07-0 ┆ 2013-07-0 ┆ 610        ┆ ... ┆ 15.0       ┆ 82.0      ┆ 5.8      ┆ mostlycl │
│        ┆ 6         ┆ 6         ┆            ┆     ┆            ┆           ┆          ┆ oudy     │
│        ┆ 12:39:00  ┆ 12:49:00  ┆            ┆     ┆            ┆           ┆          ┆          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-0 ┆ 2013-07-0 ┆ 5396       ┆ ... ┆ 35.0       ┆ 79.0      ┆ 13.8     ┆ cloudy   │
│        ┆ 9         ┆ 9         ┆            ┆     ┆            ┆           ┆          ┆          │
│        ┆ 13:12:00  ┆ 14:42:00  ┆            ┆     ┆            ┆           ┆          ┆          │
└────────┴───────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴──────────┘

In [88]:
# несколько условий в одном столбце events
filt = ((pl.col('events') == 'rain') |
        (pl.col('events') == 'snow') |
        (pl.col('events') == 'tstorms') |
        (pl.col('events') == 'sleet'))
bikes.filter(filt).head(3)

shape: (3, 11)
┌────────┬────────────┬───────────┬────────────┬─────┬────────────┬───────────┬──────────┬─────────┐
│ gender ┆ starttime  ┆ stoptime  ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events  │
│ ---    ┆ ---        ┆ ---       ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---     │
│ str    ┆ datetime[μ ┆ datetime[ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str     │
│        ┆ s]         ┆ μs]       ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆         │
╞════════╪════════════╪═══════════╪════════════╪═════╪════════════╪═══════════╪══════════╪═════════╡
│ Male   ┆ 2013-07-15 ┆ 2013-07-1 ┆ 727        ┆ ... ┆ 19.0       ┆ 82.9      ┆ 5.8      ┆ rain    │
│        ┆ 16:43:00   ┆ 5         ┆            ┆     ┆            ┆           ┆          ┆         │
│        ┆            ┆ 16:55:00  ┆            ┆     ┆            ┆           ┆          ┆         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-21 ┆ 2013-07-2 ┆ 1809       ┆ ... ┆ 35.0       ┆ 82.4      ┆ 11.5     ┆ tstorms │
│        ┆ 16:35:00   ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆         │
│        ┆            ┆ 17:06:00  ┆            ┆     ┆            ┆           ┆          ┆         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2013-07-21 ┆ 2013-07-2 ┆ 999        ┆ ... ┆ 19.0       ┆ 82.4      ┆ 11.5     ┆ tstorms │
│        ┆ 16:47:00   ┆ 1         ┆            ┆     ┆            ┆           ┆          ┆         │
│        ┆            ┆ 17:03:00  ┆            ┆     ┆            ┆           ┆          ┆         │
└────────┴────────────┴───────────┴────────────┴─────┴────────────┴───────────┴──────────┴─────────┘

In [89]:
# сочетание двух фильтров
filt1 = ((pl.col('events') == 'rain') |
         (pl.col('events') == 'snow') |
         (pl.col('events') == 'tstorms') |
         (pl.col('events') == 'sleet'))
filt2 = pl.col('tripduration') > 2000
filt = filt1 & filt2
bikes.filter(filt).head(3)

shape: (3, 11)
┌────────┬────────────┬────────────┬────────────┬─────┬────────────┬───────────┬──────────┬────────┐
│ gender ┆ starttime  ┆ stoptime   ┆ tripdurati ┆ ... ┆ end_capaci ┆ temperatu ┆ wind_spe ┆ events │
│ ---    ┆ ---        ┆ ---        ┆ on         ┆     ┆ ty         ┆ re        ┆ ed       ┆ ---    │
│ str    ┆ datetime[μ ┆ datetime[μ ┆ ---        ┆     ┆ ---        ┆ ---       ┆ ---      ┆ str    │
│        ┆ s]         ┆ s]         ┆ i64        ┆     ┆ f64        ┆ f64       ┆ f64      ┆        │
╞════════╪════════════╪════════════╪════════════╪═════╪════════════╪═══════════╪══════════╪════════╡
│ Female ┆ 2014-03-19 ┆ 2014-03-19 ┆ 2181       ┆ ... ┆ 23.0       ┆ 43.0      ┆ 6.9      ┆ rain   │
│        ┆ 07:23:00   ┆ 08:00:00   ┆            ┆     ┆            ┆           ┆          ┆        │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2014-09-12 ┆ 2014-09-12 ┆ 2213       ┆ ... ┆ 15.0       ┆ 52.0      ┆ 12.7     ┆ rain   │
│        ┆ 14:20:00   ┆ 14:57:00   ┆            ┆     ┆            ┆           ┆          ┆        │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Male   ┆ 2014-09-30 ┆ 2014-09-30 ┆ 2246       ┆ ... ┆ 15.0       ┆ 46.9      ┆ 11.5     ┆ rain   │
│        ┆ 08:21:00   ┆ 08:58:00   ┆            ┆     ┆            ┆           ┆          ┆        │
└────────┴────────────┴────────────┴────────────┴─────┴────────────┴───────────┴──────────┴────────┘

In [90]:
# отберем три столбца для поездок, совершенные,
# когда шел снег или дождь
cols = ['starttime', 'temperature', 'events']
bikes.filter((pl.col('events') == 'snow') | 
             (pl.col('events') == 'rain'))[cols].head(3)

shape: (3, 3)
┌─────────────────────┬─────────────┬────────┐
│ starttime           ┆ temperature ┆ events │
│ ---                 ┆ ---         ┆ ---    │
│ datetime[μs]        ┆ f64         ┆ str    │
╞═════════════════════╪═════════════╪════════╡
│ 2013-07-15 16:43:00 ┆ 82.9        ┆ rain   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2013-07-26 19:10:00 ┆ 66.9        ┆ rain   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2013-07-30 18:53:00 ┆ 69.1        ┆ rain   │
└─────────────────────┴─────────────┴────────┘

In [91]:
# отбираем один столбец
single_select_df = bikes.select('events')
single_select_df.head(10)

shape: (10, 1)
┌──────────────┐
│ events       │
│ ---          │
│ str          │
╞══════════════╡
│ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ partlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ mostlycloudy │
└──────────────┘

In [92]:
# отбираем столбцы по списку
list_select_df = bikes.select(['tripduration', 'events'])
list_select_df.head(10)

shape: (10, 2)
┌──────────────┬──────────────┐
│ tripduration ┆ events       │
│ ---          ┆ ---          │
│ i64          ┆ str          │
╞══════════════╪══════════════╡
│ 993          ┆ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 623          ┆ partlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1040         ┆ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 667          ┆ mostlycloudy │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 565          ┆ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 505          ┆ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1300         ┆ cloudy       │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 922          ┆ mostlycloudy │
└──────────────┴──────────────┘

In [93]:
# отберем столбцы по типу
dtype_select_df = bikes.select(pl.col(pl.Int64))
dtype_select_df.head(10)

shape: (10, 1)
┌──────────────┐
│ tripduration │
│ ---          │
│ i64          │
╞══════════════╡
│ 993          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 623          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1040         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 667          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 565          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 505          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1300         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 922          │
└──────────────┘

# Агрегирование данных

## Группировка и агрегирование с помощью одного столбца

In [94]:
# вычислим среднюю длительность поездки 
# в зависимости от погоды во время поездки
bikes.groupby('events').agg(
    pl.col('tripduration').mean().alias(
        'avg_tripduration')).sort(by='events')

shape: (11, 2)
┌─────────┬──────────────────┐
│ events  ┆ avg_tripduration │
│ ---     ┆ ---              │
│ str     ┆ f64              │
╞═════════╪══════════════════╡
│ clear   ┆ 767.71824        │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy  ┆ 690.291346       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ fog     ┆ 570.557377       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ hazy    ┆ 691.301724       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...     ┆ ...              │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ sleet   ┆ 541.25           │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ snow    ┆ 592.860515       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ tstorms ┆ 636.160377       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ unknown ┆ 635.75           │
└─────────┴──────────────────┘

## Группировка и агрегирование с помощью нескольких столбцов

In [95]:
# вычислим среднюю длительность поездки 
# в зависимости от комбинации пола 
# и погоды во время поездки
bikes.groupby(['gender', 'events']).agg(
    pl.col('tripduration').mean().alias(
        'avg_tripduration')).sort(by='events')

shape: (22, 3)
┌────────┬─────────┬──────────────────┐
│ gender ┆ events  ┆ avg_tripduration │
│ ---    ┆ ---     ┆ ---              │
│ str    ┆ str     ┆ f64              │
╞════════╪═════════╪══════════════════╡
│ Female ┆ clear   ┆ 889.229955       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ clear   ┆ 730.481688       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ cloudy  ┆ 667.281823       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ cloudy  ┆ 764.428671       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...     ┆ ...              │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ tstorms ┆ 709.925          │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ tstorms ┆ 611.365546       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Male   ┆ unknown ┆ 767.666667       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Female ┆ unknown ┆ 240.0            │
└────────┴─────────┴──────────────────┘

In [96]:
# мы вычислим среднюю продолжительность поездки 
# и среднюю температуру для каждого типа
# погодного явления
bikes.groupby('events').agg(
    [
        pl.col('tripduration').mean().alias('avg_tripduration'),
        pl.col('temperature').mean().alias('avg_temp')
    ]   
).sort(by='events')

shape: (11, 3)
┌─────────┬──────────────────┬───────────┐
│ events  ┆ avg_tripduration ┆ avg_temp  │
│ ---     ┆ ---              ┆ ---       │
│ str     ┆ f64              ┆ f64       │
╞═════════╪══════════════════╪═══════════╡
│ clear   ┆ 767.71824        ┆ 59.531476 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy  ┆ 690.291346       ┆ 56.621143 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ fog     ┆ 570.557377       ┆ 50.235246 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ hazy    ┆ 691.301724       ┆ 55.594253 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...     ┆ ...              ┆ ...       │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ sleet   ┆ 541.25           ┆ 31.24375  │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ snow    ┆ 592.860515       ┆ 26.654506 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ tstorms ┆ 636.160377       ┆ 74.200943 │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ unknown ┆ 635.75           ┆ -2462.25  │
└─────────┴──────────────────┴───────────┘

In [97]:
# вычислим среднюю длительность поездки,
# максимальную длительность поездки, среднюю температуру
# в зависимости типа погоды во время поездки
agg1 = bikes.groupby('events').agg(
    [ 
        pl.col('tripduration').mean().alias('avg_tripduration'),
        pl.col('temperature').mean().alias('avg_temp')
    ]   
).sort(by='events')

agg2 = bikes.groupby('events').agg(
    [
        (pl.col('tripduration').max().alias('max_tripduration')),
    ]   
).sort(by='events')
agg2 = agg2.select(pl.exclude('events'))
pl.concat([agg1, agg2], how='horizontal')

shape: (11, 4)
┌─────────┬──────────────────┬───────────┬──────────────────┐
│ events  ┆ avg_tripduration ┆ avg_temp  ┆ max_tripduration │
│ ---     ┆ ---              ┆ ---       ┆ ---              │
│ str     ┆ f64              ┆ f64       ┆ i64              │
╞═════════╪══════════════════╪═══════════╪══════════════════╡
│ clear   ┆ 767.71824        ┆ 59.531476 ┆ 73591            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ cloudy  ┆ 690.291346       ┆ 56.621143 ┆ 86188            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ fog     ┆ 570.557377       ┆ 50.235246 ┆ 1776             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ hazy    ┆ 691.301724       ┆ 55.594253 ┆ 7739             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...     ┆ ...              ┆ ...       ┆ ...              │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ sleet   ┆ 541.25           ┆ 31.24375  ┆ 1257             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ snow    ┆ 592.860515       ┆ 26.654506 ┆ 8309             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ tstorms ┆ 636.160377       ┆ 74.200943 ┆ 2868             │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ unknown ┆ 635.75           ┆ -2462.25  ┆ 1325             │
└─────────┴──────────────────┴───────────┴──────────────────┘

## Группировка с помощью сводных таблиц

In [98]:
# загружаем данные
ins = pl.read_csv('Data/StateFarm_missing.csv', sep=';')
ins.head()

shape: (5, 12)
┌────────────┬────────┬─────────┬────────────┬─────┬────────────┬────────────┬────────────┬────────┐
│ Customer   ┆ Covera ┆ Educati ┆ Employment ┆ ... ┆ Months     ┆ Number of  ┆ Number of  ┆ Respon │
│ Lifetime   ┆ ge     ┆ on      ┆ Status     ┆     ┆ Since      ┆ Open       ┆ Policies   ┆ se     │
│ Value      ┆ ---    ┆ ---     ┆ ---        ┆     ┆ Policy     ┆ Complaints ┆ ---        ┆ ---    │
│ ---        ┆ str    ┆ str     ┆ str        ┆     ┆ Inception  ┆ ---        ┆ i64        ┆ str    │
│ f64        ┆        ┆         ┆            ┆     ┆ ---        ┆ i64        ┆            ┆        │
│            ┆        ┆         ┆            ┆     ┆ i64        ┆            ┆            ┆        │
╞════════════╪════════╪═════════╪════════════╪═════╪════════════╪════════════╪════════════╪════════╡
│ 2763.51927 ┆ Basic  ┆ Bachelo ┆ Employed   ┆ ... ┆ 5          ┆ null       ┆ 1          ┆ No     │
│ 9          ┆        ┆ r       ┆            ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null       ┆ null   ┆ Bachelo ┆ Unemployed ┆ ... ┆ 42         ┆ null       ┆ null       ┆ No     │
│            ┆        ┆ r       ┆            ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null       ┆ null   ┆ null    ┆ Employed   ┆ ... ┆ 38         ┆ 0          ┆ null       ┆ No     │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 7645.86182 ┆ Basic  ┆ Bachelo ┆ null       ┆ ... ┆ null       ┆ null       ┆ 7          ┆ No     │
│ 7          ┆        ┆ r       ┆            ┆     ┆            ┆            ┆            ┆        │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2813.69257 ┆ Basic  ┆ Bachelo ┆ null       ┆ ... ┆ null       ┆ null       ┆ 1          ┆ No     │
│ 5          ┆        ┆ r       ┆            ┆     ┆            ┆            ┆            ┆        │
└────────────┴────────┴─────────┴────────────┴─────┴────────────┴────────────┴────────────┴────────┘

In [99]:
# смотрим, как варьирует средний доход клиента 
# по комбинациям пола и образования
ins.pivot(index='Education', 
          columns='Gender', 
          values='Income',
          aggregate_fn='mean')

shape: (6, 4)
┌──────────────────────┬──────────────┬─────────┬──────────────┐
│ Education            ┆ F            ┆ null    ┆ M            │
│ ---                  ┆ ---          ┆ ---     ┆ ---          │
│ str                  ┆ f64          ┆ f64     ┆ f64          │
╞══════════════════════╪══════════════╪═════════╪══════════════╡
│ Bachelor             ┆ 37972.366023 ┆ 0.0     ┆ 37040.25     │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ null                 ┆ 48767.0      ┆ null    ┆ null         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ College              ┆ 37740.598055 ┆ 0.0     ┆ 36781.846543 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Master               ┆ 44329.25419  ┆ 77026.0 ┆ 45259.22     │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ High School or Below ┆ 36211.804149 ┆ null    ┆ 35891.237416 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Doctor               ┆ 45731.160256 ┆ null    ┆ 39342.279503 │
└──────────────────────┴──────────────┴─────────┴──────────────┘

In [100]:
# смотрим, как варьирует средний доход клиента 
# по комбинациям пола и образования,
# превратим значения в целые числа
res = ins.pivot(
    index='Education', 
    columns='Gender', 
    values='Income',
    aggregate_fn='mean')

res.select(
    [
        pl.col('Education'),
        pl.col('F').cast(pl.Int32),
        pl.col('null').cast(pl.Int32),
        pl.col('M').cast(pl.Int32),
    
    ]
)

shape: (6, 4)
┌──────────────────────┬───────┬───────┬───────┐
│ Education            ┆ F     ┆ null  ┆ M     │
│ ---                  ┆ ---   ┆ ---   ┆ ---   │
│ str                  ┆ i32   ┆ i32   ┆ i32   │
╞══════════════════════╪═══════╪═══════╪═══════╡
│ Bachelor             ┆ 37972 ┆ 0     ┆ 37040 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ null                 ┆ 48767 ┆ null  ┆ null  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ College              ┆ 37740 ┆ 0     ┆ 36781 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Master               ┆ 44329 ┆ 77026 ┆ 45259 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ High School or Below ┆ 36211 ┆ null  ┆ 35891 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Doctor               ┆ 45731 ┆ null  ┆ 39342 │
└──────────────────────┴───────┴───────┴───────┘

In [101]:
# все то же самое можно получить, используя
# агрегацию с groupby
res = ins.groupby(['Gender', 'Education']).agg(
    pl.col('Income').mean().alias(
        'mean_salary'))
res.select(
    [
        pl.col('Gender'),
        pl.col('Education'),
        pl.col('mean_salary').cast(pl.Int32)    
    ]
)

shape: (15, 3)
┌────────┬───────────┬─────────────┐
│ Gender ┆ Education ┆ mean_salary │
│ ---    ┆ ---       ┆ ---         │
│ str    ┆ str       ┆ i32         │
╞════════╪═══════════╪═════════════╡
│ M      ┆ College   ┆ 36781       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ null   ┆ College   ┆ 0           │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ M      ┆ Bachelor  ┆ 37040       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ M      ┆ Master    ┆ 45259       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...    ┆ ...       ┆ ...         │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ F      ┆ College   ┆ 37740       │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ null   ┆ Bachelor  ┆ 0           │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ null   ┆ null      ┆ null        │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ F      ┆ Bachelor  ┆ 37972       │
└────────┴───────────┴─────────────┘

In [102]:
# смотрим максимальный доход клиента 
# по комбинациям пола и образования
ins.pivot(index='Education', 
          columns='Gender', 
          values='Income', 
          aggregate_fn='max').sort(by='Education')

shape: (6, 4)
┌──────────────────────┬───────┬───────┬───────┐
│ Education            ┆ F     ┆ null  ┆ M     │
│ ---                  ┆ ---   ┆ ---   ┆ ---   │
│ str                  ┆ i64   ┆ i64   ┆ i64   │
╞══════════════════════╪═══════╪═══════╪═══════╡
│ null                 ┆ 48767 ┆ null  ┆ null  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Bachelor             ┆ 99803 ┆ 0     ┆ 99981 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ College              ┆ 99961 ┆ 0     ┆ 99816 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Doctor               ┆ 98912 ┆ null  ┆ 99443 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ High School or Below ┆ 99841 ┆ null  ┆ 99874 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┤
│ Master               ┆ 99875 ┆ 77026 ┆ 99960 │
└──────────────────────┴───────┴───────┴───────┘

In [103]:
# смотрим максимальный доход клиента 
# по комбинациям пола и образования,
# поменяли Education и Gender местами
ins.pivot(index='Gender', 
          columns='Education', 
          values='Income', 
          aggregate_fn='max')

shape: (3, 7)
┌────────┬──────────┬───────┬─────────┬────────┬──────────────────────┬────────┐
│ Gender ┆ Bachelor ┆ null  ┆ College ┆ Master ┆ High School or Below ┆ Doctor │
│ ---    ┆ ---      ┆ ---   ┆ ---     ┆ ---    ┆ ---                  ┆ ---    │
│ str    ┆ i64      ┆ i64   ┆ i64     ┆ i64    ┆ i64                  ┆ i64    │
╞════════╪══════════╪═══════╪═════════╪════════╪══════════════════════╪════════╡
│ F      ┆ 99803    ┆ 48767 ┆ 99961   ┆ 99875  ┆ 99841                ┆ 98912  │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null   ┆ 0        ┆ null  ┆ 0       ┆ 77026  ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ M      ┆ 99981    ┆ null  ┆ 99816   ┆ 99960  ┆ 99874                ┆ 99443  │
└────────┴──────────┴───────┴─────────┴────────┴──────────────────────┴────────┘

In [104]:
# посмотрим среднюю пожизненную ценность клиента 
# по комбинациям типа занятости и образования,
# результаты переводим в целые числа
emp_edu_mean_clv = ins.pivot(
    index='EmploymentStatus', 
    columns='Education', 
    values='Customer Lifetime Value', 
    aggregate_fn='mean')
emp_edu_mean_clv.select(
    [
        pl.col('EmploymentStatus'),
        pl.col('Bachelor').cast(pl.Int32),
        pl.col('null').cast(pl.Int32),
        pl.col('College').cast(pl.Int32),
        pl.col('Master').cast(pl.Int32),
        pl.col('High School or Below').cast(pl.Int32),
        pl.col('Doctor').cast(pl.Int32)
    ]
).sort(by='EmploymentStatus')

shape: (6, 7)
┌──────────────────┬──────────┬──────┬─────────┬────────┬──────────────────────┬────────┐
│ EmploymentStatus ┆ Bachelor ┆ null ┆ College ┆ Master ┆ High School or Below ┆ Doctor │
│ ---              ┆ ---      ┆ ---  ┆ ---     ┆ ---    ┆ ---                  ┆ ---    │
│ str              ┆ i32      ┆ i32  ┆ i32     ┆ i32    ┆ i32                  ┆ i32    │
╞══════════════════╪══════════╪══════╪═════════╪════════╪══════════════════════╪════════╡
│ null             ┆ 5229     ┆ 7388 ┆ 5384    ┆ null   ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Disabled         ┆ 6729     ┆ null ┆ 6756    ┆ 7964   ┆ 9983                 ┆ 7272   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Employed         ┆ 8224     ┆ null ┆ 8047    ┆ 8042   ┆ 8566                 ┆ 7538   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Medical Leave    ┆ 7708     ┆ null ┆ 6952    ┆ 7834   ┆ 8235                 ┆ 11690  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Retired          ┆ 7846     ┆ null ┆ 7051    ┆ 12442  ┆ 5860                 ┆ 4518   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Unemployed       ┆ 7103     ┆ null ┆ 7681    ┆ 8807   ┆ 7739                 ┆ 6966   │
└──────────────────┴──────────┴──────┴─────────┴────────┴──────────────────────┴────────┘

In [105]:
# вычислим размер каждой уникальной комбинации 
# типа занятости и образования
ins.pivot(index='EmploymentStatus', 
          columns='Education',
          values='Education',
          aggregate_fn='count').sort(by='EmploymentStatus')

shape: (6, 7)
┌──────────────────┬──────────┬──────┬─────────┬────────┬──────────────────────┬────────┐
│ EmploymentStatus ┆ Bachelor ┆ null ┆ College ┆ Master ┆ High School or Below ┆ Doctor │
│ ---              ┆ ---      ┆ ---  ┆ ---     ┆ ---    ┆ ---                  ┆ ---    │
│ str              ┆ u32      ┆ u32  ┆ u32     ┆ u32    ┆ u32                  ┆ u32    │
╞══════════════════╪══════════╪══════╪═════════╪════════╪══════════════════════╪════════╡
│ null             ┆ 2        ┆ 2    ┆ 1       ┆ null   ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Disabled         ┆ 114      ┆ null ┆ 83      ┆ 37     ┆ 107                  ┆ 21     │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Employed         ┆ 1553     ┆ 1    ┆ 1499    ┆ 492    ┆ 1412                 ┆ 230    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Medical Leave    ┆ 113      ┆ null ┆ 133     ┆ 25     ┆ 106                  ┆ 15     │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Retired          ┆ 79       ┆ null ┆ 91      ┆ 19     ┆ 62                   ┆ 1      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Unemployed       ┆ 635      ┆ null ┆ 614     ┆ 86     ┆ 710                  ┆ 50     │
└──────────────────┴──────────┴──────┴─────────┴────────┴──────────────────────┴────────┘

In [106]:
# задаем два столбца вертикальной группировки 
# (тип занятости, пол) и один столбец 
# горизонтальной группировки (образование)
ins.pivot(index=['EmploymentStatus', 'Gender'], 
          columns='Education',
          values='Income', 
          aggregate_fn='max').sort(by=['EmploymentStatus', 'Gender'])

shape: (15, 8)
┌──────────────────┬────────┬──────────┬──────┬─────────┬────────┬──────────────────────┬────────┐
│ EmploymentStatus ┆ Gender ┆ Bachelor ┆ null ┆ College ┆ Master ┆ High School or Below ┆ Doctor │
│ ---              ┆ ---    ┆ ---      ┆ ---  ┆ ---     ┆ ---    ┆ ---                  ┆ ---    │
│ str              ┆ str    ┆ i64      ┆ i64  ┆ i64     ┆ i64    ┆ i64                  ┆ i64    │
╞══════════════════╪════════╪══════════╪══════╪═════════╪════════╪══════════════════════╪════════╡
│ null             ┆ null   ┆ 0        ┆ null ┆ null    ┆ null   ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null             ┆ F      ┆ null     ┆ null ┆ null    ┆ null   ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ null             ┆ M      ┆ 43836    ┆ null ┆ 83689   ┆ null   ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Disabled         ┆ F      ┆ 29633    ┆ null ┆ 29958   ┆ 29981  ┆ 28672                ┆ 29950  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ ...              ┆ ...    ┆ ...      ┆ ...  ┆ ...     ┆ ...    ┆ ...                  ┆ ...    │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Retired          ┆ M      ┆ 29465    ┆ null ┆ 29692   ┆ 24182  ┆ 28140                ┆ 19186  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Unemployed       ┆ null   ┆ null     ┆ null ┆ 0       ┆ null   ┆ null                 ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Unemployed       ┆ F      ┆ 0        ┆ null ┆ 0       ┆ 0      ┆ 0                    ┆ 0      │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Unemployed       ┆ M      ┆ 0        ┆ null ┆ 0       ┆ 0      ┆ 0                    ┆ 0      │
└──────────────────┴────────┴──────────┴──────┴─────────┴────────┴──────────────────────┴────────┘

In [107]:
# зададим один столбец вертикальной группировки
# (тип занятости) и два столбца горизонтальной 
# группировки (пол и образование)
ins.pivot(index='EmploymentStatus', 
          columns=['Gender', 'Education'],
          values='Income', 
          aggregate_fn='max').sort(by='EmploymentStatus')

shape: (6, 10)
┌──────────────────┬───────┬───────┬───────┬─────┬─────────┬────────┬───────┬────────┐
│ EmploymentStatus ┆ F     ┆ null  ┆ M     ┆ ... ┆ College ┆ Master ┆ High  ┆ Doctor │
│ ---              ┆ ---   ┆ ---   ┆ ---   ┆     ┆ ---     ┆ ---    ┆ Schoo ┆ ---    │
│ str              ┆ i64   ┆ i64   ┆ i64   ┆     ┆ i64     ┆ i64    ┆ l or  ┆ i64    │
│                  ┆       ┆       ┆       ┆     ┆         ┆        ┆ Below ┆        │
│                  ┆       ┆       ┆       ┆     ┆         ┆        ┆ ---   ┆        │
│                  ┆       ┆       ┆       ┆     ┆         ┆        ┆ i64   ┆        │
╞══════════════════╪═══════╪═══════╪═══════╪═════╪═════════╪════════╪═══════╪════════╡
│ null             ┆ null  ┆ 0     ┆ 83689 ┆ ... ┆ 83689   ┆ null   ┆ null  ┆ null   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Disabled         ┆ 29981 ┆ null  ┆ 29808 ┆ ... ┆ 29958   ┆ 29981  ┆ 29295 ┆ 29950  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Employed         ┆ 99961 ┆ 77026 ┆ 99981 ┆ ... ┆ 99961   ┆ 99960  ┆ 99874 ┆ 99443  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Medical Leave    ┆ 29957 ┆ null  ┆ 29926 ┆ ... ┆ 29723   ┆ 27229  ┆ 29664 ┆ 26463  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Retired          ┆ 28321 ┆ null  ┆ 29692 ┆ ... ┆ 29692   ┆ 26161  ┆ 28140 ┆ 19186  │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ Unemployed       ┆ 0     ┆ 0     ┆ 0     ┆ ... ┆ 0       ┆ 0      ┆ 0     ┆ 0      │
└──────────────────┴───────┴───────┴───────┴─────┴─────────┴────────┴───────┴────────┘

In [108]:
# зададим два агрегируемых столбца
# (пожизненная ценность клиента и доход)
ins.pivot(
    index='Education', 
    columns='Gender',
    values=['Income', 'Customer Lifetime Value'],
    aggregate_fn='mean').sort(by='Education')

shape: (6, 7)
┌──────────────┬──────────────┬─────────┬──────────────┬──────────────┬──────────────┬─────────────┐
│ Education    ┆ F            ┆ null    ┆ M            ┆ F            ┆ null         ┆ M           │
│ ---          ┆ ---          ┆ ---     ┆ ---          ┆ ---          ┆ ---          ┆ ---         │
│ str          ┆ f64          ┆ f64     ┆ f64          ┆ f64          ┆ f64          ┆ f64         │
╞══════════════╪══════════════╪═════════╪══════════════╪══════════════╪══════════════╪═════════════╡
│ null         ┆ 48767.0      ┆ null    ┆ null         ┆ null         ┆ 7388.178085  ┆ null        │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Bachelor     ┆ 37972.366023 ┆ 0.0     ┆ 37040.25     ┆ 7980.275871  ┆ 7645.861827  ┆ 7675.774393 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ College      ┆ 37740.598055 ┆ 0.0     ┆ 36781.846543 ┆ 7757.306941  ┆ null         ┆ 7868.564624 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Doctor       ┆ 45731.160256 ┆ null    ┆ 39342.279503 ┆ 7530.432422  ┆ null         ┆ 7702.351623 │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ High School  ┆ 36211.804149 ┆ null    ┆ 35891.237416 ┆ 8504.800424  ┆ null         ┆ 8093.913831 │
│ or Below     ┆              ┆         ┆              ┆              ┆              ┆             │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Master       ┆ 44329.25419  ┆ 77026.0 ┆ 45259.22     ┆ 8457.905556  ┆ 8798.797003  ┆ 8015.928886 │
└──────────────┴──────────────┴─────────┴──────────────┴──────────────┴──────────────┴─────────────┘

# Импутация пропусков и замена значений

In [109]:
# загружаем данные
df = pl.read_csv('Data/titanic_train.csv')
df.head(10)

shape: (10, 12)
┌─────┬──────────┬────────┬──────────────────┬─────┬──────────────────┬─────────┬───────┬──────────┐
│ Pas ┆ Survived ┆ Pclass ┆ Name             ┆ ... ┆ Ticket           ┆ Fare    ┆ Cabin ┆ Embarked │
│ sen ┆ ---      ┆ ---    ┆ ---              ┆     ┆ ---              ┆ ---     ┆ ---   ┆ ---      │
│ ger ┆ i64      ┆ i64    ┆ str              ┆     ┆ str              ┆ f64     ┆ str   ┆ str      │
│ Id  ┆          ┆        ┆                  ┆     ┆                  ┆         ┆       ┆          │
│ --- ┆          ┆        ┆                  ┆     ┆                  ┆         ┆       ┆          │
│ i64 ┆          ┆        ┆                  ┆     ┆                  ┆         ┆       ┆          │
╞═════╪══════════╪════════╪══════════════════╪═════╪══════════════════╪═════════╪═══════╪══════════╡
│ 1   ┆ 0        ┆ 3      ┆ Braund, Mr. Owen ┆ ... ┆ A/5 21171        ┆ 7.25    ┆ null  ┆ S        │
│     ┆          ┆        ┆ Harris           ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2   ┆ 1        ┆ 1      ┆ Cumings, Mrs.    ┆ ... ┆ PC 17599         ┆ 71.2833 ┆ C85   ┆ C        │
│     ┆          ┆        ┆ John Bradley     ┆     ┆                  ┆         ┆       ┆          │
│     ┆          ┆        ┆ (Flor...         ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 3   ┆ 1        ┆ 3      ┆ Heikkinen, Miss. ┆ ... ┆ STON/O2. 3101282 ┆ 7.925   ┆ null  ┆ S        │
│     ┆          ┆        ┆ Laina            ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 4   ┆ 1        ┆ 1      ┆ Futrelle, Mrs.   ┆ ... ┆ 113803           ┆ 53.1    ┆ C123  ┆ S        │
│     ┆          ┆        ┆ Jacques Heath    ┆     ┆                  ┆         ┆       ┆          │
│     ┆          ┆        ┆ (Li...           ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ ... ┆ ...      ┆ ...    ┆ ...              ┆ ... ┆ ...              ┆ ...     ┆ ...   ┆ ...      │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 7   ┆ 0        ┆ 1      ┆ McCarthy, Mr.    ┆ ... ┆ 17463            ┆ 51.8625 ┆ E46   ┆ S        │
│     ┆          ┆        ┆ Timothy J        ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 8   ┆ 0        ┆ 3      ┆ Palsson, Master. ┆ ... ┆ 349909           ┆ 21.075  ┆ null  ┆ S        │
│     ┆          ┆        ┆ Gosta Leonard    ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 9   ┆ 1        ┆ 3      ┆ Johnson, Mrs.    ┆ ... ┆ 347742           ┆ 11.1333 ┆ null  ┆ S        │
│     ┆          ┆        ┆ Oscar W          ┆     ┆                  ┆         ┆       ┆          │
│     ┆          ┆        ┆ (Elisabeth...    ┆     ┆                  ┆         ┆       ┆          │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 10  ┆ 1        ┆ 2      ┆ Nasser, Mrs.     ┆ ... ┆ 237736           ┆ 30.0708 ┆ null  ┆ C        │
│     ┆          ┆        ┆ Nicholas (Adele  ┆     ┆                  ┆         ┆       ┆          │
│     ┆          ┆        ┆ Ach...           ┆     ┆                  ┆         ┆       ┆          │
└─────┴──────────┴────────┴──────────────────┴─────┴──────────────────┴─────────┴───────┴──────────┘

In [110]:
# выведем количество пропусков по каждому столбцу
df.select(
    pl.col(df.columns).is_null().sum()  
)

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬─────┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ ... ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆     ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆     ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═════╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ ... ┆ 0      ┆ 0    ┆ 687   ┆ 2        │
└─────────────┴──────────┴────────┴──────┴─────┴────────┴──────┴───────┴──────────┘

In [111]:
# еще можно так
for col in df.get_columns():
    print(f"{col.name} - {col.is_null().sum()}")

PassengerId - 0
Survived - 0
Pclass - 0
Name - 0
Sex - 0
Age - 177
SibSp - 0
Parch - 0
Ticket - 0
Fare - 0
Cabin - 687
Embarked - 2

In [112]:
# пропуски можно заменить средним
df.select(
    pl.col('Age').fill_null(strategy='mean')
).head(10)

shape: (10, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
├╌╌╌╌╌╌┤
│ 38.0 │
├╌╌╌╌╌╌┤
│ 26.0 │
├╌╌╌╌╌╌┤
│ 35.0 │
├╌╌╌╌╌╌┤
│ ...  │
├╌╌╌╌╌╌┤
│ 54.0 │
├╌╌╌╌╌╌┤
│ 2.0  │
├╌╌╌╌╌╌┤
│ 27.0 │
├╌╌╌╌╌╌┤
│ 14.0 │
└──────┘

In [113]:
# пропуски можно заменить нулем
df.select(
    pl.col('Age').fill_null(strategy='zero')
).head(10)

shape: (10, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
├╌╌╌╌╌╌┤
│ 38.0 │
├╌╌╌╌╌╌┤
│ 26.0 │
├╌╌╌╌╌╌┤
│ 35.0 │
├╌╌╌╌╌╌┤
│ ...  │
├╌╌╌╌╌╌┤
│ 54.0 │
├╌╌╌╌╌╌┤
│ 2.0  │
├╌╌╌╌╌╌┤
│ 27.0 │
├╌╌╌╌╌╌┤
│ 14.0 │
└──────┘

In [114]:
# пропуски можно заменить значением
# вне диапазона -999
df.select(
    pl.col('Age').fill_null(value=-999)
).head(10)

shape: (10, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
├╌╌╌╌╌╌┤
│ 38.0 │
├╌╌╌╌╌╌┤
│ 26.0 │
├╌╌╌╌╌╌┤
│ 35.0 │
├╌╌╌╌╌╌┤
│ ...  │
├╌╌╌╌╌╌┤
│ 54.0 │
├╌╌╌╌╌╌┤
│ 2.0  │
├╌╌╌╌╌╌┤
│ 27.0 │
├╌╌╌╌╌╌┤
│ 14.0 │
└──────┘

In [115]:
# выполняем импутацию и записываем результаты
df = df.with_columns(
    [
        pl.col('Cabin').fill_null(value='C85'),
        pl.col('Age').fill_null(value=-999),
        pl.col('Embarked').fill_null(value=pl.col('Embarked').mode())
    ]
)

In [116]:
# выведем количество пропусков по каждому столбцу
df.select(
    pl.col(df.columns).is_null().sum()  
)

shape: (1, 12)
┌─────────────┬──────────┬────────┬──────┬─────┬────────┬──────┬───────┬──────────┐
│ PassengerId ┆ Survived ┆ Pclass ┆ Name ┆ ... ┆ Ticket ┆ Fare ┆ Cabin ┆ Embarked │
│ ---         ┆ ---      ┆ ---    ┆ ---  ┆     ┆ ---    ┆ ---  ┆ ---   ┆ ---      │
│ u32         ┆ u32      ┆ u32    ┆ u32  ┆     ┆ u32    ┆ u32  ┆ u32   ┆ u32      │
╞═════════════╪══════════╪════════╪══════╪═════╪════════╪══════╪═══════╪══════════╡
│ 0           ┆ 0        ┆ 0      ┆ 0    ┆ ... ┆ 0      ┆ 0    ┆ 0     ┆ 0        │
└─────────────┴──────────┴────────┴──────┴─────┴────────┴──────┴───────┴──────────┘

In [117]:
# взглянем на переменную Age
df.select(pl.col('Age')).head(10)

shape: (10, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
├╌╌╌╌╌╌┤
│ 38.0 │
├╌╌╌╌╌╌┤
│ 26.0 │
├╌╌╌╌╌╌┤
│ 35.0 │
├╌╌╌╌╌╌┤
│ ...  │
├╌╌╌╌╌╌┤
│ 54.0 │
├╌╌╌╌╌╌┤
│ 2.0  │
├╌╌╌╌╌╌┤
│ 27.0 │
├╌╌╌╌╌╌┤
│ 14.0 │
└──────┘

In [118]:
# список значений, которые нужно заменить
from_ = [35, -999]
# список значений, на которые нужно заменить
to_ = [25, 0]

In [119]:
# пишем функцию замены значений
def replace(column, from_, to_):
    branch = pl.when(pl.col(column) == from_[0]).then(to_[0])

    for (from_value, to_value) in zip(from_, to_):
        branch = branch.when(pl.col(column) == from_value).then(to_value)

    return branch.otherwise(pl.col(column)).alias(column)

In [120]:
# проиллюстрируем замены
df.select(replace('Age', from_, to_)).head(10)

shape: (10, 1)
┌──────┐
│ Age  │
│ ---  │
│ f64  │
╞══════╡
│ 22.0 │
├╌╌╌╌╌╌┤
│ 38.0 │
├╌╌╌╌╌╌┤
│ 26.0 │
├╌╌╌╌╌╌┤
│ 25.0 │
├╌╌╌╌╌╌┤
│ ...  │
├╌╌╌╌╌╌┤
│ 54.0 │
├╌╌╌╌╌╌┤
│ 2.0  │
├╌╌╌╌╌╌┤
│ 27.0 │
├╌╌╌╌╌╌┤
│ 14.0 │
└──────┘

In [121]:
# запишем изменения
df = df.with_column(replace('Age', from_, to_))

# Манипуляции с датафреймами

In [122]:
# выполним конкатенацию датафреймов по вертикали
df_v1 = pl.DataFrame(
    {
        'a': [1],
        'b': [3],
    }
)

df_v2 = pl.DataFrame(
    {
        'a': [2],
        'b': [4],
    }
)

df_vertical_concat = pl.concat(
    [
        df_v1,
        df_v2,
    ],
    how='vertical'
)

display(df_v1, df_v2, df_vertical_concat)

shape: (1, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
└─────┴─────┘

shape: (1, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 2   ┆ 4   │
└─────┴─────┘

shape: (2, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 2   ┆ 4   │
└─────┴─────┘

In [123]:
# выполним конкатенацию датафреймов по горизонтали
df_h1 = pl.DataFrame(
    {
        'l1': [1, 2],
        'l2': [3, 4],
    }
)

df_h2 = pl.DataFrame(
    {
        'r1': [5, 6],
        'r2': [7, 8],
        'r3': [9, 10],
    }
)

df_horizontal_concat = pl.concat(
    [
        df_h1,
        df_h2,
    ],
    how='horizontal'
)

display(df_h1, df_h2, df_horizontal_concat)

shape: (2, 2)
┌─────┬─────┐
│ l1  ┆ l2  │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
├╌╌╌╌╌┼╌╌╌╌╌┤
│ 2   ┆ 4   │
└─────┴─────┘

shape: (2, 3)
┌─────┬─────┬─────┐
│ r1  ┆ r2  ┆ r3  │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╡
│ 5   ┆ 7   ┆ 9   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ 6   ┆ 8   ┆ 10  │
└─────┴─────┴─────┘

shape: (2, 5)
┌─────┬─────┬─────┬─────┬─────┐
│ l1  ┆ l2  ┆ r1  ┆ r2  ┆ r3  │
│ --- ┆ --- ┆ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i64 ┆ i64 ┆ i64 │
╞═════╪═════╪═════╪═════╪═════╡
│ 1   ┆ 3   ┆ 5   ┆ 7   ┆ 9   │
├╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┤
│ 2   ┆ 4   ┆ 6   ┆ 8   ┆ 10  │
└─────┴─────┴─────┴─────┴─────┘

In [124]:
# выполним конкатенацию датафреймов по диагонали
df_d1 = pl.DataFrame(
    {
        'a': [1],
        'b': [3],
    }
)

df_d2 = pl.DataFrame(
    {
        'a': [2],
        'd': [4],
    }
)

df_diagonal_concat = pl.concat(
    [
        df_d1,
        df_d2,
    ],
    how='diagonal',
)

display(df_d1, df_d2, df_diagonal_concat)

shape: (1, 2)
┌─────┬─────┐
│ a   ┆ b   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 1   ┆ 3   │
└─────┴─────┘

shape: (1, 2)
┌─────┬─────┐
│ a   ┆ d   │
│ --- ┆ --- │
│ i64 ┆ i64 │
╞═════╪═════╡
│ 2   ┆ 4   │
└─────┴─────┘

shape: (2, 3)
┌─────┬──────┬──────┐
│ a   ┆ b    ┆ d    │
│ --- ┆ ---  ┆ ---  │
│ i64 ┆ i64  ┆ i64  │
╞═════╪══════╪══════╡
│ 1   ┆ 3    ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ 2   ┆ null ┆ 4    │
└─────┴──────┴──────┘

In [125]:
# датафрейм - идентификатор и марка машины
df_cars = pl.DataFrame(
    {
        'id': ['a', 'b', 'c'],
        'make': ['ford', 'toyota', 'bmw'],
    }
)
df_cars

shape: (3, 2)
┌─────┬────────┐
│ id  ┆ make   │
│ --- ┆ ---    │
│ str ┆ str    │
╞═════╪════════╡
│ a   ┆ ford   │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ b   ┆ toyota │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ c   ┆ bmw    │
└─────┴────────┘

In [126]:
# датафрейм - идентификатор и стоимость ремонта
df_repairs = pl.DataFrame(
    {
        'id': ['c', 'c'],
        'cost': [100, 200],
    }
)
df_repairs

shape: (2, 2)
┌─────┬──────┐
│ id  ┆ cost │
│ --- ┆ ---  │
│ str ┆ i64  │
╞═════╪══════╡
│ c   ┆ 100  │
├╌╌╌╌╌┼╌╌╌╌╌╌┤
│ c   ┆ 200  │
└─────┴──────┘

In [127]:
# применим inner join
df_inner_join = df_cars.join(df_repairs, on='id', how='inner')
df_inner_join

shape: (2, 3)
┌─────┬──────┬──────┐
│ id  ┆ make ┆ cost │
│ --- ┆ ---  ┆ ---  │
│ str ┆ str  ┆ i64  │
╞═════╪══════╪══════╡
│ c   ┆ bmw  ┆ 100  │
├╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ c   ┆ bmw  ┆ 200  │
└─────┴──────┴──────┘

In [128]:
# применим outer join
df_outer_join = df_cars.join(df_repairs, on='id', how='outer')
df_outer_join

shape: (4, 3)
┌─────┬────────┬──────┐
│ id  ┆ make   ┆ cost │
│ --- ┆ ---    ┆ ---  │
│ str ┆ str    ┆ i64  │
╞═════╪════════╪══════╡
│ a   ┆ ford   ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ b   ┆ toyota ┆ null │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ c   ┆ bmw    ┆ 100  │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┤
│ c   ┆ bmw    ┆ 200  │
└─────┴────────┴──────┘

In [129]:
# применим semi join
df_semi_join = df_cars.join(df_repairs, on='id', how='semi')
df_semi_join

shape: (1, 2)
┌─────┬──────┐
│ id  ┆ make │
│ --- ┆ ---  │
│ str ┆ str  │
╞═════╪══════╡
│ c   ┆ bmw  │
└─────┴──────┘

In [130]:
# применим anti join
df_anti_join = df_cars.join(df_repairs, on='id', how='anti')
df_anti_join

shape: (2, 2)
┌─────┬────────┐
│ id  ┆ make   │
│ --- ┆ ---    │
│ str ┆ str    │
╞═════╪════════╡
│ a   ┆ ford   │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ b   ┆ toyota │
└─────┴────────┘

In [131]:
# загружаем набор с 4 рядами
data = pl.read_csv('Data/example_dataset.csv', 
                   parse_dates=True)
data.head()

shape: (5, 3)
┌────────────┬───────────┬────────┐
│ timestamp  ┆ segment   ┆ target │
│ ---        ┆ ---       ┆ ---    │
│ date       ┆ str       ┆ i64    │
╞════════════╪═══════════╪════════╡
│ 2019-01-01 ┆ segment_a ┆ 170    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-02 ┆ segment_a ┆ 243    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-03 ┆ segment_a ┆ 267    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-04 ┆ segment_a ┆ 287    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-05 ┆ segment_a ┆ 279    │
└────────────┴───────────┴────────┘

In [132]:
# разворачиваем строки переменной segment обучающего набора
# в столбцы, значениями столбцов будут значения
# зависимой переменной target
pivot_data = data.pivot(index='timestamp', 
                        columns='segment', 
                        values='target')
pivot_data.head()

shape: (5, 5)
┌────────────┬───────────┬───────────┬───────────┬───────────┐
│ timestamp  ┆ segment_a ┆ segment_b ┆ segment_c ┆ segment_d │
│ ---        ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ date       ┆ i64       ┆ i64       ┆ i64       ┆ i64       │
╞════════════╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 2019-01-01 ┆ 170       ┆ 102       ┆ 92        ┆ 238       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2019-01-02 ┆ 243       ┆ 123       ┆ 107       ┆ 358       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2019-01-03 ┆ 267       ┆ 130       ┆ 103       ┆ 366       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2019-01-04 ┆ 287       ┆ 138       ┆ 103       ┆ 385       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2019-01-05 ┆ 279       ┆ 137       ┆ 104       ┆ 384       │
└────────────┴───────────┴───────────┴───────────┴───────────┘

In [133]:
# "расплавляем" датафрейм
melt_data = pivot_data.melt(
    id_vars='timestamp', 
    variable_name='segment',
    value_name='target')
melt_data.head()

shape: (5, 3)
┌────────────┬───────────┬────────┐
│ timestamp  ┆ segment   ┆ target │
│ ---        ┆ ---       ┆ ---    │
│ date       ┆ str       ┆ i64    │
╞════════════╪═══════════╪════════╡
│ 2019-01-01 ┆ segment_a ┆ 170    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-02 ┆ segment_a ┆ 243    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-03 ┆ segment_a ┆ 267    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-04 ┆ segment_a ┆ 287    │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┤
│ 2019-01-05 ┆ segment_a ┆ 279    │
└────────────┴───────────┴────────┘

# Больше материалов в рамках подписки вы найдете по адресу https://boosty.to/gewissta